<div #tooltip class="tooltip-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header
            header
            [title]="
                (weekdayKey | i18next).toString() +
                ' (' +
                (data.hour | number: '2.') +
                '-' +
                (data.hour + 1 | number: '2.') +
                ')'
            "
        />
        <bfe-tooltip-row
            shape="area"
            [color]="valueColor"
            [label]="valueLabel | i18next"
            [data]="{ value: data.savedPercent | number, suffix: '%' }"
        />

        <bfe-tooltip-icon-row
            icon="house"
            [color]="getIconColor(data.anteilPrivate)"
            label="commons.sparziel.sectors.private"
            [data]="{ value: data.anteilPrivate | number, suffix: '%' }"
        />

        <bfe-tooltip-icon-row
            icon="buildings"
            [color]="getIconColor(data.anteilKMU)"
            label="commons.sparziel.sectors.kmu"
            [data]="{ value: data.anteilKMU | number, suffix: '%' }"
        />

        <bfe-tooltip-icon-row
            icon="industry-windows"
            [color]="getIconColor(data.anteilIndustrie)"
            label="commons.sparziel.sectors.industry"
            [data]="{ value: data.anteilIndustrie | number, suffix: '%' }"
        />
    </bfe-tooltip-container>
</div>
