<div class="preise-futures-chart-container">
    <div *ngIf="data && filteredData" class="diagram-container">
        <section class="title-selection-container">
            <bfe-kpi-subtitle>
                {{ 'dynamic:' + titleKey | i18nextDynamic }}
            </bfe-kpi-subtitle>
            <bfe-kpi-date-info-subtext [date]="lastUpdated">
            </bfe-kpi-date-info-subtext>
        </section>

        <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>
        <bfe-histogram-line
            (diagramLeave)="hideTooltip()"
            (elFocus)="showTooltip($event)"
            [colors]="colors"
            [data]="filteredData"
            [strokeWidths]="[2, 2, 2, 2, 2, 2]"
            [xLabelModifier]="xLabelModifier"
            [xSubLabelModifier]="xSubLabelModifier"
            [yLabelFormatter]="yLabelFormatter"
        ></bfe-histogram-line>
        <bfe-preise-tooltip
            [isMonthly]="false"
            [event]="tooltipEvent"
            [lineEntries]="legendEntries"
            [withSpaceBeforePostfix]="true"
            postfix="EUR"
        ></bfe-preise-tooltip>
        <bfe-brush-explanation></bfe-brush-explanation>
        <bfe-histogram-line
            class="diagram-container"
            (diagramLeave)="hideTooltip()"
            (elFocus)="showTooltip($event)"
            [colors]="colors"
            [data]="data"
            [strokeWidths]="[1, 1, 1, 1, 1, 1]"
            [hideYLabels]="true"
            [maxHeight]="brushDefaultHeight"
            [xLabelModifier]="brushXLabelModifier"
            [margin]="brushDefaultMargins"
            [brushSelection]="brushSelection"
            [brushSelectionConfig]="brushSelectionConfig"
            (brushSelectionChange)="updateBrushSelection($event)"
        ></bfe-histogram-line>

        <bfe-hideable-text-section
            [context]="'chart'"
            [textTranslationKey]="'dynamic:' + langtextKey"
        ></bfe-hideable-text-section>
    </div>
    <div *ngIf="isLoading" class="loading-container">
        <bfe-loading-spinner></bfe-loading-spinner>
    </div>
</div>
