<bfe-kpi-container
    titleKeyDynamic="kpi-wetter-1_meteoswiss.titel"
    [footerConfig]="{
        sourceDynamicKey: 'kpi-wetter-1_meteoswiss.datenquelle',
        langtextDynamicKey: 'kpi-wetter-1_meteoswiss.langtext'
    }"
    [isLoading]="isLoading"
>
    <section>
        <bfe-kpi-container-row>
            <section>
                <bfe-trend-and-number
                    *ngIf="!!trend"
                    [model]="{
                        color: primaryColor,
                        bigNumber: {
                            value: currentTrend.lufttemperaturTagesmittel,
                            postfix: '°C',
                            subTextKeys: [
                                'dashboard.wetter.aktuelles-wetter.aktuelle-temperatur'
                            ]
                        },
                        trend: {
                            value: trend.trend,
                            rating: trend.trendRating,
                            subTextKeys: [
                                'dashboard.wetter.aktuelles-wetter.trend'
                            ]
                        }
                    }"
                ></bfe-trend-and-number>
            </section>
            <section>
                <bfe-aktuelles-wetter-region-select
                    (selectedRegion)="changeRegion($event)"
                ></bfe-aktuelles-wetter-region-select>

                <section class="teaser-section desktop-only">
                    <div
                        [innerHTML]="
                            'dynamic:kpi-wetter-1_meteoswiss.kurztext'
                                | i18nextDynamic
                        "
                        class="teaser"
                    ></div>
                </section>
            </section>
        </bfe-kpi-container-row>

        <div class="mobile-only">
            <bfe-hideable-text-section
                [context]="'trend'"
                [textTranslationKey]="
                    'dynamic:kpi-wetter-1_meteoswiss.kurztext'
                "
            ></bfe-hideable-text-section>
        </div>
    </section>

    <bfe-aktuelles-wetter-aktuelle-temperatur-histogram-chart
        [currentRegion]="currentRegion"
        [currentTrend]="currentTrend"
    >
    </bfe-aktuelles-wetter-aktuelle-temperatur-histogram-chart>
    <bfe-aktuelles-wetter-prognose-histogram-chart
        [currentRegion]="currentRegion"
        [currentTrend]="currentTrend"
    >
    </bfe-aktuelles-wetter-prognose-histogram-chart>
</bfe-kpi-container>
