@use 'var';
@use 'dim';

:host {
    width: 100%;
}
bfe-aktuelles-wetter-prognose-histogram-chart,
bfe-produktion-verbrauch-histogram-chart {
    width: 100%;
}

.teaser-section {
    margin-top: 15px;
}

@media (max-width: #{dim.$bp-max-sm}) {
    section {
        width: 100%;
    }
}
