<bfe-kpi-container
    [footerConfig]="{
        sourceDynamicKey: 'kpi-strom-5_produktion.datenquelle',
        langtextDynamicKey: 'kpi-strom-5_produktion.langtext'
    }"
    [isLoading]="isLoading"
    titleKeyDynamic="kpi-strom-5_produktion.titel"
>
    <section>
        <bfe-kpi-container-row>
            <section>
                <bfe-trend-and-number
                    *ngIf="!isLoading && currentEntry"
                    [model]="{
                        color: spaceColor,
                        bigNumber: {
                            value: currentEntry.eigenproduktion,
                            postfix: 'GWh',
                            subTextKeys: [
                                'dashboard.strom.produktion.eigenproduktion.yesterday'
                            ]
                        },
                        trend: {
                            value: currentEntry.trend,
                            rating: currentEntry.trendRating,
                            subTextKeys: [
                                'dashboard.strom.produktion.rolling-trend'
                            ]
                        }
                    }"
                ></bfe-trend-and-number>
            </section>

            <section class="teaser-section desktop-only">
                <div
                    [innerHTML]="
                        'dynamic:kpi-strom-5_produktion.kurztext'
                            | i18nextDynamic
                    "
                    class="teaser"
                ></div>
            </section>
        </bfe-kpi-container-row>

        <div class="mobile-only">
            <bfe-kpi-container-row>
                <bfe-hideable-text-section
                    [context]="'trend'"
                    [textTranslationKey]="
                        'dynamic:kpi-strom-5_produktion.kurztext'
                    "
                ></bfe-hideable-text-section>
            </bfe-kpi-container-row>
        </div>
    </section>

    <bfe-produktion-verbrauch-histogram-chart></bfe-produktion-verbrauch-histogram-chart>

    <bfe-produktion-strommix-donut-mars></bfe-produktion-strommix-donut-mars>
</bfe-kpi-container>
