<div *ngIf="!isLoading; else loadingTemplate" class="diagram-container">
    <bfe-kpi-subtitle>
        {{
            'dynamic:kpi-strom-3_sparziel_nach_bereich_pro_monat.titel'
                | i18nextDynamic
        }}
    </bfe-kpi-subtitle>

    <div>
        <bfe-kpi-date-info-subtext
            *ngIf="lastUpdate"
            [date]="lastUpdate"
            [updateInterval]="'monthly'"
        ></bfe-kpi-date-info-subtext>
    </div>

    <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>

    <bfe-histogram-detail
        (diagramLeave)="hideTooltip()"
        (elFocus)="showTooltip($event)"
        [data]="entries"
        [blocks]="[]"
        [barWidth]="barWidth"
        [barColors]="barColors"
        [lineColors]="lineColors"
        [barLineColor]="barLineColor"
        [lineThickness]="[2, 2, 1]"
        [lineStyle]="['solid', 'solid']"
        [barLineStyle]="'dashed'"
        [xLabelModifier]="xLabelModifier"
        [xSubLabelModifier]="xSubLabelModifier"
        [yLabelFormatter]="yLabelFormatter"
        [domainMax]="domainMax"
        [domainMin]="domainMin"
        [steppedLine]="true"
    ></bfe-histogram-detail>

    <bfe-stromsparziel-nach-bereich-pro-monat-histogram-chart-tooltip
        [event]="tooltipEvent"
        [barColors]="barColors"
        [lineColors]="lineColors"
        [barLineColor]="barLineColor"
    >
    </bfe-stromsparziel-nach-bereich-pro-monat-histogram-chart-tooltip>

    <bfe-hideable-text-section
        [context]="'chart'"
        [textTranslationKey]="
            'dynamic:kpi-strom-3_sparziel_nach_bereich_pro_monat.langtext'
        "
    ></bfe-hideable-text-section>
</div>

<ng-template #loadingTemplate>
    <bfe-loading-spinner></bfe-loading-spinner>
</ng-template>
