<bfe-kpi-container
    titleKeyDynamic="kpi-wetter-4_schneereserven.titel"
    [footerConfig]="{
        sourceDynamicKey: 'kpi-wetter-4_schneereserven.datenquelle',
        langtextDynamicKey: 'kpi-wetter-4_schneereserven.langtext'
    }"
>
    <section>
        <bfe-kpi-container-row>
            <section>
                <bfe-trend-and-number
                    *ngIf="trend"
                    [isLoading]="isLoading"
                    [model]="{
                        color: primaryColor,
                        bigNumber: {
                            value: trend.aktuellMm,
                            postfix: 'mm',
                            topTextKeys: [
                                'commons.wetter.schneereserven.snow-water-equivalent'
                            ],
                            subTextKeys: [
                                'commons.wetter.schneereserven.current-reserves'
                            ]
                        },
                        trend: {
                            value: trend.trend,
                            rating: trend.trendRating,
                            subTextKeys: ['commons.trend']
                        }
                    }"
                ></bfe-trend-and-number>
            </section>

            <section class="teaser-section desktop-only">
                <div
                    [innerHTML]="
                        'dynamic:kpi-wetter-4_schneereserven.kurztext'
                            | i18nextDynamic
                    "
                    class="teaser"
                ></div>
            </section>
        </bfe-kpi-container-row>

        <div class="mobile-only">
            <bfe-kpi-container-row>
                <bfe-hideable-text-section
                    [context]="'trend'"
                    [textTranslationKey]="
                        'dynamic:kpi-wetter-4_schneereserven.kurztext'
                    "
                ></bfe-hideable-text-section>
            </bfe-kpi-container-row>
        </div>
    </section>

    <bfe-schneereserven-aktuelles-jahr-chart>
    </bfe-schneereserven-aktuelles-jahr-chart>
</bfe-kpi-container>
