<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <ng-container *ngIf="!!data">
        <section class="date-section">
            {{ data.date | date: 'dd. MMMM yyyy' }}
        </section>

        <ng-container *ngIf="data.values[0]">
            <section class="tooltip-content" *ngIf="data.values[1]">
                <div>
                    <span
                        [style.backgroundColor]="colors[2]"
                        class="dot"
                    ></span>

                    <span class="text">{{
                        'commons.legend.latest' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.values[1] | number: '1.1-1' }}mm </span>
                </span>
            </section>

            <section class="tooltip-content">
                <div>
                    <span
                        [style.backgroundColor]="colors[0]"
                        class="dot"
                    ></span>

                    <span class="text">{{
                        'commons.legend.average' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.values[0] | number: '1.1-1' }}mm </span>
                </span>
            </section>

            <hr/>

            <section class="tooltip-content">
                <div>
                    <span
                        [style.backgroundColor]="colors[1]"
                        class="dot"
                    ></span>

                    <span class="text">{{ 'commons.day.max' | i18next }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.values[2] | number: '1.1-1' }}mm </span>
                </span>
            </section>

            <section class="tooltip-content">
                <div>
                    <span
                        [style.backgroundColor]="colors[1]"
                        class="dot"
                    ></span>

                    <span class="text">{{ 'commons.day.min' | i18next }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.values[3] | number: '1.1-1' }}mm </span>
                </span>
            </section>
        </ng-container>
    </ng-container>
</div>
