<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header [title]="data.date | date: 'dd. MMMM yyyy'" />
        <ng-container *ngIf="data.values[0]">
            <bfe-tooltip-row
                *ngIf="data.values[1] as value"
                shape="dot"
                [color]="colors[2]"
                label="commons.legend.latest"
                [data]="{ value, suffix: ' mm' }"
            ></bfe-tooltip-row>



            <bfe-tooltip-divider />

            <bfe-tooltip-row
                *ngIf="data.values[2] as value"
                shape="dot"
                [color]="colorMinMax"
                label="commons.day.max"
                [data]="{ value, suffix: ' mm' }"
            ></bfe-tooltip-row>

            <bfe-tooltip-row
                *ngIf="data.values[0] as value"
                shape="dot"
                [color]="colors[0]"
                label="commons.legend.average"
                [data]="{ value, suffix: ' mm' }"
            ></bfe-tooltip-row>

            <bfe-tooltip-row
                *ngIf="data.values[3] as value"
                shape="dot"
                [color]="colorMinMax"
                label="commons.day.min"
                [data]="{ value, suffix: ' mm' }"
            ></bfe-tooltip-row>
        </ng-container>
    </bfe-tooltip-container>
</div>
