<bfe-kpi-container
    [footerConfig]="{
        sourceDynamicKey: 'kpi-strom-6_kkw-ch.datenquelle',
        langtextDynamicKey: 'kpi-strom-6_kkw-ch.langtext'
    }"
    titleKeyDynamic="kpi-strom-6_kkw-ch.titel"
>
    <bfe-kpi-container-row>
        <bfe-kkw-current-production-display
            [productionData]="productionCh"
            topLabelKey="dashboard.strom.kkw.production"
        ></bfe-kkw-current-production-display>

        <section class="teaser-section">
            <div
                [innerHTML]="
                    'dynamic:kpi-strom-6_kkw-ch.kurztext' | i18nextDynamic
                "
                class="teaser"
            ></div>
        </section>
    </bfe-kpi-container-row>

    <bfe-kkw-production-chart
        [model]="{
            titleDynamicKey: 'kpi-gas-strom-6_kkw-produktion-ch.titel',
            kurztextDynamicKey: 'kpi-gas-strom-6_kkw-produktion-ch.kurztext',
            chartData: productionCh
        }"
    ></bfe-kkw-production-chart>

    <bfe-kkw-availability-chart
        [model]="{
            titleDynamicKey: 'kpi-gas-strom-6_kkw-verfuegbarkeit-ch.titel',
            kurztextDynamicKey:
                'kpi-gas-strom-6_kkw-verfuegbarkeit-ch.kurztext',
            chartData: availabilityCh,
            displayAusfaelleInBackground: true
        }"
    ></bfe-kkw-availability-chart>
</bfe-kpi-container>
