@use 'dim';
@use 'var';

.region-selection-section {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    margin-top: -28px;

    bfe-speicherseen-region-select {
        width: 100%;
    }
}
.margin-bottom-fix {
    margin-bottom: 22px;
}
.teaser-section {
    margin-top: 15px;
}

@media (max-width: #{dim.$bp-min-md}) {
    bfe-speicherseen-region-select,
    .region-select {
        margin-top: 22px;
    }
}
