:host {
    width: 100%;
}

.kkw-availability-chart-container {
    .loading-container {
        height: 312px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
