<div *ngIf="!loading; else loadingTemplate" class="diagram-container">
    <bfe-kpi-subtitle>
        {{ 'dynamic:' + model.titleDynamicKey | i18nextDynamic }}
    </bfe-kpi-subtitle>
    <bfe-kpi-date-info-subtext
        *ngIf="model.lastUpdate"
        [date]="model.lastUpdate"
        [updateInterval]="'monthly'"
    ></bfe-kpi-date-info-subtext>

    <bfe-diagram-legend [entries]="model.legendEntries"></bfe-diagram-legend>

    <bfe-histogram-detail
        (diagramLeave)="hideTooltip()"
        (elFocus)="showLineChartTooltip($event)"
        [barColors]="model.colors.bars"
        [barWidth]="model.barWidth"
        [data]="model.data"
        [blocks]="model.blocks"
        [domainMax]="domainMax"
        [domainMin]="domainMin"
        [lineColors]="model.colors.lines"
        [lineThickness]="hasSparziel ? [2, 2, 1] : [2, 1] "
        [lineStyle]="hasSparziel ? ['solid', 'solid', 'dashed'] : ['solid', 'dashed']"
        [margin]="{ top: 20, bottom: 40, left: 0, right: 12 }"
        [pointsOfInterest]="pointsOfInterest"
        [xLabelModifier]="xLabelModifier"
        [xSubLabelModifier]="xSubLabelModifier"
        [yLabelFormatter]="yLabelFormatter"
        [yTickCount]="4"
    >
    </bfe-histogram-detail>
    <bfe-points-of-interest-legend
        [entries]="pointsOfInterest"
    ></bfe-points-of-interest-legend>
    <bfe-sparziel-chart-tooltip
        [colorAverageUse]="hasSparziel ? model.colors.lines[1] : model.colors.lines[0]"
        [colorSparziel]="model.colors.lines[0]"
        [colorTemperature]="hasSparziel ? model.colors.lines[2] : model.colors.lines[1]"
        [dataColors]="model.colors.bars"
        [event]="tooltipEvent"
        [sparzielTarget]="hasSparziel ? model.sparzielTarget : null"
        [hasSparziel]="hasSparziel"
        postfix="GWh"
    >
    </bfe-sparziel-chart-tooltip>

    <bfe-hideable-text-section
        [context]="'chart'"
        [textTranslationKey]="'dynamic:' + model.langtextDynamicKey"
    ></bfe-hideable-text-section>
</div>

<ng-template #loadingTemplate>
    <bfe-loading-spinner></bfe-loading-spinner>
</ng-template>
