@use 'var';

.loading-container {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

bfe-points-of-interest-legend {
    margin-left: var.$kpi-container-indentation;
    display: block;
}

// set opacity to 0.5 for projected values
::ng-deep bfe-sparziel-histogram-chart .data g > rect:last-child {
    opacity: 0.5;
}
