<div class="tooltip-container stromsparziel-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header header [title]="data.date | date: 'MMMM yyyy'" />
        <bfe-tooltip-icon-row
            *ngIf="data.anteilPrivate !== null"
            icon="house"
            [color]="privateColor"
            label="commons.sparziel.sectors.private"
            [data]="{
                value: data.anteilPrivate | number: '1.1-1',
                suffix: ' GWh'
            }"
        />
        <bfe-tooltip-icon-row
            *ngIf="data.anteilKMU !== null"
            icon="buildings"
            [color]="kmuColor"
            label="commons.sparziel.sectors.kmu"
            [data]="{ value: data.anteilKMU | number: '1.1-1', suffix: ' GWh' }"
        />
        <bfe-tooltip-icon-row
            *ngIf="data.anteilKMU !== null"
            icon="industry-windows"
            [color]="industryColor"
            label="commons.sparziel.sectors.industry"
            [data]="{
                value: data.anteilIndustrie | number: '1.1-1',
                suffix: ' GWh'
            }"
        />
    </bfe-tooltip-container>
</div>
