<div class="tooltip-container stromsparziel-container">
    <ng-container *ngIf="!!data">
        <section class="date-section">
            {{ data.date | date: 'MMMM yyyy' }}
        </section>

        <ng-container *ngIf="data">
            <section class="tooltip-content">
                <div>
                    <span class="dot">
                        <fa-icon
                            [icon]="'house'"
                            [style.color]="privateColor"
                        ></fa-icon>
                    </span>

                    <span class="text">{{
                        'commons.sparziel.sectors.private' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span>
                        {{ data.anteilPrivate | number: '1.1-1' }} GWh
                    </span>
                </span>
            </section>

            <section class="tooltip-content">
                <div>
                    <span class="dot">
                        <fa-icon
                            [icon]="'buildings'"
                            [style.color]="kmuColor"
                        ></fa-icon>
                    </span>

                    <span class="text">{{
                        'commons.sparziel.sectors.kmu' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.anteilKMU | number: '1.1-1' }} GWh </span>
                </span>
            </section>

            <section class="tooltip-content">
                <div>
                    <span class="dot">
                        <fa-icon
                            [icon]="'industry-windows'"
                            [style.color]="industryColor"
                        ></fa-icon>
                    </span>

                    <span class="text">{{
                        'commons.sparziel.sectors.industry' | i18next
                        }}</span>
                </div>

                <span> {{ data.anteilIndustrie | number: '1.1-1' }} GWh </span>
            </section>
        </ng-container>
    </ng-container>
</div>
