<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header [title]="data.date | date" />

        <!-- current percentage -->
        <bfe-tooltip-row
            *ngIf="data.values[1] || data.absoluteValue"
            shape="dot"
            label="dashboard.strom.fuellstaende-speicherseen.tooltip.current-percentage"
            [color]="primaryColor"
            [data]="{ value: data.absoluteValue, suffix: ' GWh' }"
            [dataCol2]="{ value: data.values[1] ?? null, suffix }"
            [colNumber]="showDifference() ? 3 : 2"
        />

        <!-- at 100% capacity -->
        <bfe-tooltip-row
            *ngIf="data.speicherstandBei100ProzentInGWh"
            shape="none"
            label="dashboard.strom.fuellstaende-speicherseen.tooltip.at-100-percent-capacity"
            [data]="{
                value: data.speicherstandBei100ProzentInGWh || null,
                suffix: ' GWh'
            }"
            [colNumber]="showDifference() ? 3 : 2"
        />

        <!-- divider -->
        <bfe-tooltip-diff-divider *ngIf="hasCurrentValues()" />

        <!-- 5 year max -->
        <bfe-tooltip-row
            shape="dot"
            [color]="colorMinMax"
            label="dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-max-percentage"
            [data]="{
                value: data.band?.upper,
                suffix
            }"
            [dataCol2]="{
                value: data.tooltipInformation?.differenzMax ?? null,
                suffix: diffSuffix
            }"
            [colNumber]="showDifference() ? 2 : 1"
        />

        <!-- 5 year average -->
        <bfe-tooltip-row
            shape="dot"
            [color]="colorSecondary"
            label="dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-mittelwert-percentage"
            [data]="{
                value: data.values[0],
                suffix
            }"
            [dataCol2]="{
                value: data.tooltipInformation?.differenzMittelwert ?? null,
                suffix: diffSuffix
            }"
            [colNumber]="showDifference() ? 2 : 1"
        />
        <!-- 5 year min -->
        <bfe-tooltip-row
            shape="dot"
            [color]="colorMinMax"
            label="dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-min-percentage"
            [data]="{
                value: data.band?.lower,
                suffix
            }"
            [dataCol2]="{
                value: data.tooltipInformation?.differenzMin ?? null,
                suffix: diffSuffix
            }"
            [colNumber]="showDifference() ? 2 : 1"
        />

        <ng-container *ngIf="isRegionTotalCH">
            <bfe-tooltip-divider />

            <!-- Historical Minimum With Reserves -->
            <bfe-tooltip-row
                shape="dot"
                [color]="colorMinimumWithReserves"
                label="dashboard.strom.fuellstaende-speicherseen.diagram-legend.minimum-including-reserves"
                [data]="{
                    value: data.values[2],
                    suffix
                }"
                [colNumber]="showDifference() ? 2 : 1"
            />

            <!-- Historical Minimum  -->
            <bfe-tooltip-row
                shape="dot"
                [color]="colorHistoricalMinimum"
                label="dashboard.strom.fuellstaende-speicherseen.diagram-legend.historical-minimum"
                [data]="{
                    value: data.values[3],
                    suffix
                }"
                [colNumber]="showDifference() ? 2 : 1"
            />
        </ng-container>
    </bfe-tooltip-container>
</div>
