@use 'layout';
@use 'col';

.kpi-container {
    @include layout.kpi-container;
    padding-bottom: 20px;
    position: relative;

    .loading-overlay {
        width: 100%;
        height: 100%;
        background-color: col.$white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
