<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header [title]="data.date | date" />
        <!-- Outages -->
        <bfe-tooltip-row
            *ngFor="let ausfall of data.ausfaelle"
            [shape]="ausfall.count ? 'none' : 'area'"
            [color]="getAusfallColor(ausfall.wasPlanned)"
            [label]="
                getAusfallText(
                    ausfall.wasPlanned,
                    ausfall.productionPlant,
                    ausfall.count
                )
            "
        />

        <!-- DIVIDER -->
        <bfe-tooltip-divider *ngIf="(data.ausfaelle?.length ?? 0) > 0" />

        <!-- Max Availability-->
        <bfe-tooltip-row
            shape="line"
            [color]="kkwColors.COLOR_KKW_INSTALLED_POWER"
            [label]="'dashboard.strom.kkw.max-power'"
            [data]="{ value: data.lineValues[0], suffix: ' MW' }"
        />

        <!-- Current Availability-->

        <bfe-tooltip-row
            shape="area"
            [color]="kkwColors.COLOR_KKW_PRIMARY"
            [label]="'dashboard.strom.kkw.available-power'"
            [data]="{ value: data.barValues[0], suffix: ' MW' }"
        />
    </bfe-tooltip-container>
</div>
