bfe-produktion-strommix-donut-mars,
bfe-gas-import-europa-taeglich-chart {
    width: 100%;
}

.trend-section {
    display: flex;
    column-gap: 32px;
    align-items: flex-end;
    text-align: center;

    section {
        display: flex;
        flex-direction: column;
    }

    ::ng-deep .trend-display-container {
        width: auto;
    }
}
