<div *ngIf="!!chartData" class="diagram-container">
    <section class="title-selection-container">
        <bfe-kpi-subtitle>
            {{ 'dynamic:kpi-preise-3_gas_endverbrauch.titel' | i18nextDynamic }}
        </bfe-kpi-subtitle>
        <bfe-kpi-date-info-subtext
            [date]="currentEntry.date"
            updateInterval="monthly"
        >
        </bfe-kpi-date-info-subtext>
    </section>

    <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>
    <bfe-histogram-line
        (diagramLeave)="hideTooltip()"
        (elFocus)="showLineChartTooltip($event)"
        [colors]="[primaryColor]"
        [data]="chartData"
        [strokeWidths]="[2]"
        [xLabelModifier]="labelModifier"
        [xSubLabelModifier]="subLabelModifier"
        [yLabelFormatter]="yLabelFormatter"
    ></bfe-histogram-line>
    <bfe-preise-tooltip
        [isMonthly]="true"
        [event]="tooltipEvent"
        [lineEntries]="legendEntries"
        postfix="%"
    ></bfe-preise-tooltip>

    <bfe-hideable-text-section
        [context]="'chart'"
        [textTranslationKey]="'dynamic:kpi-preise-3_gas_endverbrauch.langtext'"
    ></bfe-hideable-text-section>
</div>
