<div *ngIf="!!chartData" class="diagram-container">
    <section class="title-selection-container">
        <bfe-kpi-subtitle>
            {{ 'dynamic:kpi-preise-3_gas_dayahead.titel' | i18nextDynamic }}
        </bfe-kpi-subtitle>
        <bfe-kpi-date-info-subtext [date]="currentEntry.date">
        </bfe-kpi-date-info-subtext>
    </section>

    <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>
    <bfe-histogram-line
        (diagramLeave)="hideTooltip()"
        (elFocus)="showLineChartTooltip($event)"
        [colors]="[primaryColor]"
        [data]="filteredChartData"
        [strokeWidths]="[2]"
        [xLabelModifier]="labelModifier"
        [xSubLabelModifier]="subLabelModifier"
        [yLabelFormatter]="yLabelFormatter"
    ></bfe-histogram-line>
    <bfe-preise-tooltip
        [event]="tooltipEvent"
        [lineEntries]="legendEntries"
        [withSpaceBeforePostfix]="true"
        postfix="EUR"
    ></bfe-preise-tooltip>
    <bfe-brush-explanation></bfe-brush-explanation>
    <bfe-histogram-line
        class="diagram-container"
        [colors]="[primaryColor]"
        [data]="chartData"
        [maxHeight]="brushDefaultHeight"
        [hideYLabels]="true"
        [strokeWidths]="[1]"
        [margin]="brushDefaultMargins"
        [xLabelModifier]="brushLabelModifier"
        [brushSelection]="brushSelection"
        [brushSelectionConfig]="brushSelectionConfig"
        (brushSelectionChange)="updateBrushSelection($event)"
    ></bfe-histogram-line>

    <bfe-hideable-text-section
        [context]="'chart'"
        [textTranslationKey]="'dynamic:kpi-preise-3_gas_dayahead.langtext'"
    ></bfe-hideable-text-section>
</div>
