<section
    class="trend-section"
    *ngIf="isLoading != null && !isLoading; else loading"
>
    <section [class.align-right]="alignRight">
        <div *ngIf="model.bigNumber.topTextKeys">
            <p
                *ngFor="let key of model.bigNumber.topTextKeys"
                class="label-medium"
            >
                {{ key | i18next }}
            </p>
        </div>

        <bfe-large-number-unit
            #number
            [number]="model.bigNumber.value"
            [unit]="model.bigNumber.postfix"
            [subUnit]="model.bigNumber.subUnit"
            [color]="model.color"
        ></bfe-large-number-unit>
        <div #numberText class="number-label-container">
            <div
                *ngFor="let key of model.bigNumber.subTextKeys"
                class="label-medium"
            >
                {{ key | i18next }}
            </div>
        </div>
    </section>
    <section *ngIf="model.trend">
        <bfe-trend-indicator
            [trend]="model.trend.value"
            [rating]="model.trend.rating"
        ></bfe-trend-indicator>
        <p *ngFor="let key of model.trend.subTextKeys" class="label-medium">
            {{ key | i18next }}
        </p>
    </section>
</section>

<ng-template #loading>
    <bfe-loading-spinner></bfe-loading-spinner>
</ng-template>
