<bfe-kpi-container
    titleKeyDynamic="kpi-preise-1_treibstoff.titel"
    [footerConfig]="{
        sourceDynamicKey: 'kpi-preise-1_treibstoff.datenquelle',
        langtextDynamicKey: 'kpi-preise-1_treibstoff.langtext'
    }"
    [isLoading]="isLoadingBenzin"
>
    <bfe-kpi-container-row>
        <section class="trend-section">
            <bfe-context-title
                [context]="Context.BENZIN"
                marginLeft="0px"
            ></bfe-context-title>
            <section *ngIf="currentEntryBenzin" class="trend-entries">
                <bfe-large-number-unit
                    [number]="currentEntryBenzin.values[0]"
                    unit="%"
                    [color]="primaryColor"
                ></bfe-large-number-unit>
                <p class="center-text">
                    {{
                        'dashboard.preise.benzin.index-preis.subtitle' | i18next
                    }}
                </p>
            </section>
        </section>
        <section class="teaser-section">
            <div
                [innerHTML]="
                    'dynamic:kpi-preise-1_treibstoff.kurztext' | i18nextDynamic
                "
                class="teaser"
            ></div>
        </section>
    </bfe-kpi-container-row>

    <div class="diagram-container">
        <bfe-preise-treibstoff-benzin
            *ngIf="chartDataBenzin"
            [chartData]="chartDataBenzin"
            [currentEntry]="currentEntryBenzin"
        >
        </bfe-preise-treibstoff-benzin>
    </div>

    <div class="divider-section">
        <hr />
    </div>

    <bfe-kpi-container-row>
        <section class="trend-section">
            <bfe-context-title
                [context]="Context.DIESEL"
                marginLeft="0px"
            ></bfe-context-title>
            <section *ngIf="currentEntryDiesel" class="trend-entries">
                <bfe-large-number-unit
                    [number]="currentEntryDiesel.values[0]"
                    unit="%"
                    [color]="primaryColor"
                ></bfe-large-number-unit>
                <p class="center-text">
                    {{
                        'dashboard.preise.diesel.index-preis.subtitle' | i18next
                    }}
                </p>
            </section>
        </section>
    </bfe-kpi-container-row>

    <div class="diagram-container">
        <bfe-preise-treibstoff-diesel
            *ngIf="chartDataDiesel"
            [chartData]="chartDataDiesel"
            [currentEntry]="currentEntryDiesel"
        >
        </bfe-preise-treibstoff-diesel>
    </div>
</bfe-kpi-container>
