<div
    class="sparziel-chart-container"
    style="
        --achievedPercentage: {{ calculatedAchievedPercentage }};
        --projectedPercentage: {{ calculatedProjectedPercentage }};
        --achievedColor: {{ achievedColor }};
    "
>
    <section class="labels-left">
        <div class="goal-label">
            <p class="label-medium nowarp">
                {{ 'commons.sparziel' | i18next }}
            </p>
        </div>
        <div
            [style.height]="spaceToGoSizeLeft + 'px'"
            class="to-go-space"
        ></div>
        <div class="projected-label">
            <p
                [ngClass]="{
                    'label-medium': true,
                    'p-grey': projectedPercentage === 0
                }"
            >
                {{ 'commons.sparziel.projected-label' | i18next }}
                ({{ projectedPercentage }}%)
            </p>
        </div>
        <div class="achieved-label">
            <p class="label-medium">
                {{ 'commons.sparziel.meassured-label' | i18next }}
                ({{ achievedPercentage }}%)
            </p>
        </div>
    </section>
    <section
        [class.overachieved]="overarchievedPercentage > 0"
        class="stacked-bars"
    >
        <span
            *ngIf="overarchievedPercentage > 0"
            [style.height]="overarchievedPercentage + 'px'"
            class="overachieved-bar"
        >
            <p class="num-xtra-small">{{ overarchievedPercentage }}%</p>
        </span>
        <span class="projected-bar">
            <div class="background"></div>
        </span>
        <span class="achieved-bar"></span>
    </section>
    <section class="labels-right">
        <div class="goal-label">
            <p class="label-medium">
                <span *ngIf="sparzielLabelSubfix" class="sparziel-subfix">
                    {{ sparzielLabelSubfix }}
                </span>
            </p>
        </div>
        <div [style.height]="percentageToGo + 'px'" class="to-go-space"></div>
        <div class="achieved-label">
            <p class="label-medium nowarp">
                {{ 'commons.already-saved' | i18next }}
            </p>
            <p class="label-medium">
                ({{ projectedPercentage + achievedPercentage }}%)
            </p>
        </div>
    </section>

    <section class="tooltip">
        <bfe-sparziel-chart-tooltip
            [achievedPercentage]="achievedPercentage"
            [alreadySaved]="projectedPercentage + achievedPercentage"
            [projectedPercentage]="projectedPercentage"
            [target]="sparzielLabelSubfix"
            [weatherAdjustedPercent]="weatherAdjustedPercent"
            [titleKey]="'commons.sparziel'"
        ></bfe-sparziel-chart-tooltip>
    </section>
</div>
