@use 'col';

.sparziel-chart-container {
    --achievedPercentage: 0;
    --achievedPercentageHeight: calc(
        var(--achievedPercentage) * 1px
    ); // convert to pixel value from raw number
    --projectedPercentage: 0;
    --projectedPercentageHeight: calc(
        var(--projectedPercentage) * 1px
    ); // convert to pixel value from raw number
    --projectedOpacity: 0.6;
    --bar-width: 44px;
    --achievedColor: blue;
    --lineHeight: 1px;

    display: flex;
    align-items: flex-end;

    .stacked-bars,
    .labels {
        width: var(--bar-width);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .stacked-bars {
        background-color: col.$divider;
        min-height: 100px;
        border-top: var(--lineHeight) solid black;

        .achieved-bar,
        .projected-bar,
        .overachieved-bar {
            width: var(--bar-width);
            display: flex;
            justify-content: center;
            align-items: center;

            .num-xtra-small {
                color: col.$white;
                line-height: 10px;
                margin: 0;
                overflow: hidden;
            }
        }

        .achieved-bar {
            height: var(--achievedPercentageHeight);
            background-color: var(--achievedColor);
            max-height: calc(100px - var(--lineHeight));
        }

        .projected-bar {
            height: var(--projectedPercentageHeight);
            position: relative;
            border-top: var(--lineHeight) solid var(--achievedColor);

            .background {
                height: 100%;
                width: 100%;
                background-color: var(--achievedColor);
                opacity: var(--projectedOpacity);
            }
        }

        .overachieved-bar {
            background-color: col.$positiv;
            max-height: 20px;
            min-height: 12px;
        }

        &.overachieved {
            border-top: 0;
        }
    }

    .labels-left,
    .labels-right {
        width: min-content;

        .goal-label {
            padding: 4px 10px;
            border-bottom: var(--lineHeight) solid black;
            height: max-content;
            margin-bottom: calc(var(--lineHeight) * -1);

            .label-medium {
                margin: 0;
                line-height: 1.2;
                color: col.$dark;
            }
        }
    }

    .labels-left {
        .goal-label {
            text-align: end;
        }

        .projected-label,
        .achieved-label {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 4px 6px;

            p {
                color: black;
                margin: 0;
                white-space: nowrap;
            }
        }

        .projected-label {
            min-height: 20px;
            height: var(--projectedPercentageHeight);
        }

        .achieved-label {
            max-height: 80px;
            height: var(--achievedPercentageHeight);
        }
    }

    .labels-right {
        .achieved-label {
            padding: 4px 10px;

            .label-medium {
                margin: 0;
                line-height: 1.2;
            }
        }

        .achieved-label {
            border-top: var(--lineHeight) solid var(--achievedColor);
            height: calc(
                var(--achievedPercentageHeight) +
                    var(--projectedPercentageHeight)
            );
            max-height: 100px;

            .label-medium:first-of-type {
                margin-bottom: 2px;
            }
        }

        .sparziel-subfix {
            white-space: nowrap;
        }

        &.label-on-top {
            justify-content: flex-start;
            .achieved-label {
                height: calc(
                    100px - var(--achievedPercentageHeight) + var(--lineHeight)
                );
                border-top: 0;
                border-bottom: var(--lineHeight) solid var(--achievedColor);
                display: flex;
                align-items: flex-end;
                justify-content: center;
            }
        }
    }
}
