<div class="diagram-container">
    <bfe-histogram-detail
        (diagramLeave)="hideTooltip()"
        (elFocus)="showTooltip($event)"
        [data]="entries"
        [blocks]="blocks"
        [barWidth]="50"
        [barColors]="barColors"
        [barLineColor]="'transparent'"
        [lineColors]="[lineColor]"
        [lineThickness]="[2]"
        [lineStyle]="['dashed']"
        [barLineStyle]="'none'"
        [xLabelModifier]="xLabelModifier"
        [yLabelFormatter]="yLabelFormatter"
        [domainMax]="domainMax"
        [domainMin]="domainMin"
        [steppedLine]="true"
        [maxHeight]="150"
        [drawXAxis]="false"
        [highlight0Axis]="true"
        [strokeDasharray]="'2 4'"
    ></bfe-histogram-detail>
</div>

<bfe-sparziel-chart-tooltip
    [event]="tooltipEvent"
    [achievedPercentage]="achievedPercentage | number: '1.1-1'"
    [achievedValue]="achievedValue"
    [projectedPercentage]="projectedPercentage | number: '1.1-1'"
    [projectedValue]="projectedValue | number: '1.1-1'"
    [weatherAdjustedPercent]="weatherAdjustedPercent | number: '1.1-1'"
    [weatherAdjustedGwh]="weatherAdjustedGwh"
    [titleKey]="'commons.sparziel.difference'"
    [achievedColor]="achievedColor"
    [target]="sparziel"
></bfe-sparziel-chart-tooltip>
