<div *ngIf="!loading && data; else loadingTemplate" class="diagram-container">
    <bfe-kpi-subtitle>
        {{ 'dynamic:kpi-wetter-3_niederschlag-aktuell.titel' | i18nextDynamic }}
    </bfe-kpi-subtitle>

    <bfe-kpi-date-info-subtext
        [date]="dateOfLastUpdate"
    ></bfe-kpi-date-info-subtext>

    <div class="diagram-container">
        <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>

        <bfe-histogram-detail
            (diagramLeave)="hideTooltip()"
            (elFocus)="showTooltip($event)"
            [barColors]="barColors"
            [blocks]="blocks"
            [barWidth]="barWidth"
            [data]="data"
            [domainMax]="domainMax"
            [domainMin]="domainMin"
            [lineColors]="lineColors"
            [lineThickness]="[2, 2, 1]"
            [lineStyle]="['solid', 'solid', 'dashed']"
            [margin]="{ top: 20, bottom: 40, left: 0, right: 12 }"
            [xLabelModifier]="xLabelModifier"
            [xSubLabelModifier]="xSubLabelModifier"
            [yLabelFormatter]="yLabelFormatter"
            [yTickCount]="4"
        >
        </bfe-histogram-detail>

        <bfe-niederschlag-aktuell-histogram-chart-tooltip
            [event]="tooltipEvent"
            [barColors]="barColors"
        ></bfe-niederschlag-aktuell-histogram-chart-tooltip>
    </div>

    <bfe-hideable-text-section
        [context]="'chart'"
        [textTranslationKey]="
            'dynamic:kpi-wetter-3_niederschlag-aktuell.langtext'
        "
    ></bfe-hideable-text-section>
</div>

<ng-template #loadingTemplate>
    <bfe-loading-spinner></bfe-loading-spinner>
</ng-template>
