<div class="master-detail">
    <div
        class="master-detail__container"
        [ngClass]="{ 'master-detail__app-view': appView }"
    >
        <bfe-context-title
            *ngIf="!appView"
            [context]="context"
            [marginBottom]="contextMargin"
            class="context-title"
        ></bfe-context-title>
        <div
            *ngIf="!appView"
            #menuWrapperElRef
            [style.--row-span]="(items.length || 0) + 1"
            class="master-detail__menu"
        >
            <div #menuScrollContainerElRef class="master-detail__menu-inner">
                <ng-container *ngFor="let item of items; let ix = index">
                    <a
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="item.pathArgs"
                        [style.order]="ix"
                        class="master-detail__menu-item"
                        queryParamsHandling="preserve"
                        routerLinkActive="master-detail__menu-item--active"
                    >
                        <div class="master-detail__menu-item-inner">
                            <p class="master-detail__menu-item-title">
                                <span [innerHTML]="'dynamic:' + item.title | i18nextDynamic"></span>
                                <!--optional icon for new elements-->
                                <svg *ngIf="item.isNew?.visible" class="svg-icon" width="9" height="10" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="4.71437" cy="5" r="4.21437" [attr.fill]="item.isNew?.color"/>
                                </svg>
                            </p>
                        </div>
                    </a>
                    <ng-container *ngIf="isActiveRoute(item)">
                        <ng-container
                            *ngFor="let child of item.children; let jx = index"
                        >
                            <a
                                [routerLinkActiveOptions]="fragmentMatchOptions"
                                [routerLink]="child.pathArgs"
                                [fragment]="child.fragment"
                                [style.order]="ix"
                                queryParamsHandling="preserve"
                                class="master-detail__menu-sub-item"
                                routerLinkActive="master-detail__menu-sub-item--active"
                            >
                                <div class="master-detail__menu-sub-item-inner">
                                    <p
                                        [innerHTML]="
                                            'dynamic:' + child.title
                                                | i18nextDynamic
                                        "
                                        class="master-detail__menu-item-title"
                                    ></p>
                                </div>
                            </a>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <div *ngIf="!appView" class="master-detail__menu-mobile">
            <bfe-context-icon
                *ngIf="context"
                [context]="context"
                size="lg"
            ></bfe-context-icon>
            <select
                (change)="changeRoute($event)"
                bfe-select
                id="master-detail__menu-mobile-select"
            >
                <option
                    *ngFor="let item of items; let ix = index"
                    [innerHTML]="'dynamic:' + item.title | i18nextDynamic"
                    [selected]="isActiveRoute(item)"
                    [style.order]="ix"
                    [value]="item.pathArgs"
                ></option>
            </select>
        </div>

        <div
            [style.--order]="(activeMenuItemIndex | async) || 0"
            [style.--row-span]="(items.length > 0 ? 1 : 0) + 1"
            class="master-detail__content"
        >
            <div
                (ngxResize)="onResize($event)"
                *ngIf="alertTemplate"
                class="master-detail__alert-container"
            >
                <ng-container [ngTemplateOutlet]="alertTemplate"></ng-container>
            </div>
            <div class="info-page__content-card">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
