<bfe-kpi-subtitle>
    {{ 'dynamic:kpi-wetter-1_meteoswiss_temp_prognose.titel' | i18nextDynamic }}
</bfe-kpi-subtitle>
<bfe-kpi-date-info-subtext *ngIf="currentTrend" [date]="currentTrend.date">
</bfe-kpi-date-info-subtext>
<bfe-optional-dynamic-langtext
    text="kpi-wetter-1_meteoswiss_temp_prognose.langtext"
></bfe-optional-dynamic-langtext>
<div class="diagram-container" *ngIf="!isLoading; else loading">
    <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>
    <bfe-histogram-line
        (diagramLeave)="hideTooltip()"
        (elFocus)="showLineChartTooltip($event)"
        [colors]="[consts.COLOR_CHART_SECONDARY, primaryColor]"
        [bandColor]="consts.COLOR_CHART_MIN_MAX_RANGE"
        [data]="chartDataPrognose"
        [strokeWidths]="[2, 4]"
        [dashedLines]="['0', '0 8']"
        [domainMin]="yDomainMin"
        [xLabelModifier]="labelModifier"
        [yLabelFormatter]="yLabelFormatter"
    ></bfe-histogram-line>
    <bfe-histogram-chart-tooltip
        [primaryColor]="primaryColor"
        [event]="tooltipEvent"
        postfix="°C"
    ></bfe-histogram-chart-tooltip>
</div>

<ng-template #loading>
    <div class="loading-container">
        <bfe-loading-spinner></bfe-loading-spinner>
    </div>
</ng-template>
