<bfe-kpi-container
    [footerConfig]="{
        sourceDynamicKey: 'kpi-strom-3_sparziel-five-percent.datenquelle',
        langtextDynamicKey: 'kpi-strom-3_sparziel-five-percent.langtext'
    }"
    titleKeyDynamic="kpi-strom-3_sparziel-five-percent.titel"
>
    <bfe-kpi-container-row>
        <section>
            <bfe-stromsparziel-five-percent-details>
            </bfe-stromsparziel-five-percent-details>
        </section>
        <section class="teaser-section">
            <div
                class="teaser"
                [innerHTML]="
                    'dynamic:kpi-strom-3_sparziel-five-percent.kurztext'
                        | i18nextDynamic
                "
            ></div>
        </section>
    </bfe-kpi-container-row>

    <div class="diagram-container">
        <bfe-kpi-subtitle>
            {{
            'dynamic:kpi-strom-3_sparziel-five-percent.peakhours.title'
                | i18nextDynamic
            }}
        </bfe-kpi-subtitle>

        <div>
            <bfe-kpi-date-info-subtext
                [updateInterval]="'daily'"
                [date]="updatedDate"
            ></bfe-kpi-date-info-subtext>

            <bfe-optional-dynamic-langtext
                text="kpi-strom-3_sparziel-five-percent.peakhours.langtext"
            ></bfe-optional-dynamic-langtext>
        </div>

        <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>

        <bfe-stromsparziel-five-percent-chart
            *ngIf="!isLoading && modelBySelectedMonth"
            [data]="modelBySelectedMonth"
            [hours]="availableHours"
        >
        </bfe-stromsparziel-five-percent-chart>

        <bfe-stromsparziel-five-percent-month-switch
            *ngIf="!isLoading"
            [availableMonths]="availableMonths"
            (monthChanged)="onMonthChanged($event)"
        ></bfe-stromsparziel-five-percent-month-switch>
    </div>
</bfe-kpi-container>
