<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header header [title]="data.date | date: 'MMMM yyyy'" />
        <!-- aktuelle Abweichung von 5 Jahresdurchschnitt-->
        <bfe-tooltip-row
            shape="area"
            [color]="dataColors[0] + (isProjectedEntry ? '80' : 'FF')"
            [label]="
                isProjectedEntry
                    ? 'commons.sparziel.chart-legend.relevant-difference-projected'
                    : 'commons.sparziel.chart-legend.relevant-difference-meassured'
            "
            [data]="{
                value: isProjectedEntry
                    ? (data.barValues[1] | number)
                    : (data.barValues[0] | number),
                suffix: '%'
            }"
        />
        <!-- Temperatur-->
        <bfe-tooltip-row
            shape="dashed-line"
            [color]="this.colorTemperature"
            label="commons.sparziel.chart-tooltipp.temperature"
            [data]="{
                value: hasSparziel ? data.lineValues[2] : data.lineValues[1] | number,
                suffix: '°C'
            }"
        />

        <!-- Witterungsbereigter Wert-->
        <bfe-tooltip-row
            shape="none"
            label="commons.sparziel.temperature-corrected"
            [data]="{
                value: data.hiddenValues[0] | number,
                suffix: '%'
            }"
        />

        <!-- DIVIDER -->
        <bfe-tooltip-divider />

        <!-- Mittelwert Verbrauch / Durchschnitt letzte 5 Jahre -->
        <bfe-tooltip-row
            shape="line"
            [color]="colorAverageUse"
            label="commons.sparziel.chart-legend.five-year-average"
        />

        <!-- Sparziel -->
        <bfe-tooltip-row
            *ngIf="hasSparziel"
            shape="line"
            [color]="colorSparziel"
            [label]="
                'commons.sparziel.chart-legend.target'
                    | i18next: { target: sparzielTarget }
            "
        />
    </bfe-tooltip-container>
</div>
