@use 'dim';
@use 'var';

.kpi-footer-container {
    display: flex;
    flex-direction: column;
    row-gap: 44px;

    .langtext {
        margin-left: var.$kpi-container-indentation;
        column-count: 2;
        column-gap: calc(
            #{var.$kpi-container-column-gap} - #{var.$kpi-container-indentation}
        );

        ::ng-deep p {
            min-width: calc(100% - #{var.$kpi-container-indentation});
            max-width: calc(
                #{var.$kpi-container-column-width} - #{var.$kpi-container-indentation}
            );
        }
    }

    .data-source-container {
        border-top: 1px solid #cccccc;
        padding-top: 9px;

        .icon-title-section {
            display: flex;
            column-gap: 6px;
            justify-content: flex-start;
            align-items: center;
        }

        .dynamic-content-section {
            margin-left: var.$kpi-container-indentation;
        }
    }

    .actions-section {
        display: flex;
        column-gap: 48px;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;

        .action {
            display: flex;
            column-gap: 12px;
            justify-content: flex-start;
            align-items: baseline;
            cursor: pointer;
            white-space: nowrap;
        }
    }
}

@media (max-width: #{dim.$bp-min-md}) {
    .kpi-footer-container {
        .langtext {
            column-count: 1;
            margin-left: 0;

            ::ng-deep p {
                max-width: 100%;
            }
        }
    }
}
