<div class="kpi-footer-container">
    <bfe-expandable>
        <div
            class="langtext"
            [innerHTML]="'dynamic:' + langtextKey | i18nextDynamic"
        >
        </div>
    </bfe-expandable>

    <bfe-kpi-container-row>
        <div class="data-source-container">
            <section class="icon-title-section">
                <img
                    src="/assets/icon/database.svg"
                    alt="{{ 'commons.kpi-footer.database-icon.alt' | i18next }}"
                />
                <h4>{{ 'commons.source-data-info.title' | i18next }}</h4>
            </section>
            <section class="dynamic-content-section">
                <div
                    class="info-text"
                    [innerHTML]="'dynamic:' + sourceKey | i18nextDynamic"
                ></div>
            </section>
        </div>
    </bfe-kpi-container-row>
</div>
