<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header header [title]="data.date | date: 'MMMM yyyy'" />
        <bfe-tooltip-row
            *ngIf="data.barValues[0] !== null"
            shape="area"
            [color]="barColors[0]"
            [label]="'commons.wetter.niederschlag.precipitation' | i18next"
            [data]="{ value: data.barValues[0] , suffix: ' %' }"
        />
    </bfe-tooltip-container>
</div>
