$accent-primary: #dc0018;

$warning-bg: #fffab2;
$warning-fg: #8a6d3b;

$white: #fff;
$black: #000;
$dark: #636363;
$medium: #989898;
$divider: #ccc;
$card_container: #ededed;

$icon: #8c8c8c;
$icon-text: #6f6f6f;

$context-gas: #7f0393;
$context-strom: #eb9f46;
$context-oel: #d65454;
$context-weather: #389b15;
$context-preise: #636363;
$context-holz: #aa5734;
$context-fernwaerme: #7782b1;

$color-germany: #fadbb7;
$color-france: #cad4fa;
$color-italy: #dff3b3;
$color-austria: #fdaaaa;
$color-switzerland: #cccccc;

$ampel-bg-level-1: #eaf5ea;
$ampel-border-level-1: #96cc91;
$ampel-bg-level-2: #fff1cd;
$ampel-border-level-2: #f1d129;
$ampel-bg-level-3: #fae6d5;
$ampel-border-level-3: #eb9f46;
$ampel-bg-level-4: #fadcd5;
$ampel-border-level-4: #ed5f22;
$ampel-bg-level-5: #f7bbb8;
$ampel-border-level-5: #7f1610;

$positiv: #69ad00;
$neutral: #8c8c8c;
$negativ: #dc0018;
