$accent-primary: #dc0018;

$warning-bg: #fffab2;
$warning-fg: #8a6d3b;

$white: #fff;
$black: #000;
$dark: #636363;
$medium: #989898;
$divider: #ccc;
$card_container: #ededed;

$icon: #8c8c8c;
$icon-text: #6f6f6f;

$context-gas: #7f0393;
$context-strom: #eb9f46;
$context-oel: #d65454;
$context-weather: #389b15;
$context-preise: #636363;
$context-holz: #aa5734;
$context-fernwaerme: #7782b1;

$color-germany: #fadbb7;
$color-france: #cad4fa;
$color-italy: #dff3b3;
$color-austria: #fdaaaa;
$color-switzerland: #cccccc;

$ampel-bg-level-1: #eaf5ea;
$ampel-border-level-1: #96cc91;
$ampel-bg-level-2: #fff1cd;
$ampel-border-level-2: #f1d129;
$ampel-bg-level-3: #fae6d5;
$ampel-border-level-3: #eb9f46;
$ampel-bg-level-4: #fadcd5;
$ampel-border-level-4: #ed5f22;
$ampel-bg-level-5: #f7bbb8;
$ampel-border-level-5: #7f1610;

$positiv: #69ad00;
$neutral: #8c8c8c;
$negativ: #dc0018;

// Qualitative Color Spectrum
$qualitative-1: #FFC076;
$qualitative-2: #EC7877;
$qualitative-3: #D05B81;
$qualitative-4: #A8498B;
$qualitative-5: #723F8F;
$qualitative-6: #1E3A8A;
$qualitative-7: #005E86;
$qualitative-8: #009494;
$qualitative-9: #7BC386;
$qualitative-10: #FDE68A;
$qualitative-11: #FC9B72;
$qualitative-12: #007993;
$qualitative-13: #0E426F;

// Sequential Color Spectrum (red)
$sequential-red-1: #FDE68A;
$sequential-red-2: #FFC076;
$sequential-red-3: #FC9B72;
$sequential-red-4: #EC7877;
$sequential-red-5: #D05B81;
$sequential-red-6: #A8498B;
$sequential-red-7: #723F8F;
$sequential-red-8: #1E3A8A;

// Sequential Color Spectrum (green)
$sequential-green-1: #FDE68A;
$sequential-green-2: #BBD781;
$sequential-green-3: #7BC386;
$sequential-green-4: #37AD8E;
$sequential-green-5: #009494;
$sequential-green-6: #007993;
$sequential-green-7: #005E86;
$sequential-green-8: #0E426F;


// Diverging Color Spectrum (red-white-brown)
$diverging-red-brown-1: #70315D;
$diverging-red-brown-2: #A8498B;
$diverging-red-brown-3: #C586B2;
$diverging-red-brown-4: #E2C2D8;
$diverging-red-brown-5: #F1F1F1;
$diverging-red-brown-6: #FEDED0;
$diverging-red-brown-7: #FDBCA1;
$diverging-red-brown-8: #D2815F;
$diverging-red-brown-9: #7E4E39;

// Diverging Color Spectrum (blue-white-brown)
$diverging-blue-brown-1: #14275C;
$diverging-blue-brown-2: #1E3A8A;
$diverging-blue-brown-3: #697CB1;
$diverging-blue-brown-4: #B4BDD8;
$diverging-blue-brown-5: #F1F1F1;
$diverging-blue-brown-6: #FFEAD1;
$diverging-blue-brown-7: #FFCA8D;
$diverging-blue-brown-8: #D4A062;
$diverging-blue-brown-9: #554027;

// Diverging Color Spectrum (blue-white-red)
$diverging-blue-red-1: #1E3A8A;
$diverging-blue-red-2: #697CB1;
$diverging-blue-red-3: #8E9CC4;
$diverging-blue-red-4: #B4BDD8;
$diverging-blue-red-5: #F1F1F1;
$diverging-blue-red-6: #F6DEE6;
$diverging-blue-red-7: #E092AB;
$diverging-blue-red-8: #D05B81;
$diverging-blue-red-9: #AD4C6C;
