<bfe-kpi-container
    [footerConfig]="{
        sourceDynamicKey: 'kpi-strom-3_sparziel.datenquelle',
        langtextDynamicKey: 'kpi-strom-3_sparziel.langtext'
    }"
    titleKeyDynamic="kpi-strom-3_sparziel.titel"
    [isLoading]="isLoadingTrend"
>
    <bfe-kpi-container-row [indented]="true">
        <bfe-sparziel-overview
            *ngIf="!!trendData"
            [model]="{
                sparzielEntry: trendData,
                trendLabelKey: 'commons.trend',
                color: primaryColor
            }"
            [loading]="isLoadingTrend"
        >
        </bfe-sparziel-overview>
        <section class="teaser-section">
            <div
                [innerHTML]="
                    'dynamic:kpi-strom-3_sparziel.kurztext' | i18nextDynamic
                "
                class="info-subtext"
            ></div>
        </section>
    </bfe-kpi-container-row>

    <bfe-stromsparziel-mehr-mindestverbrauch-pro-monat
        [lastUpdated]="trendData?.date"
    >
    </bfe-stromsparziel-mehr-mindestverbrauch-pro-monat>

    <div class="divider-section">
        <hr />
    </div>

    <bfe-stromsparziel-nach-bereich-pro-monat-histogram-chart>
    </bfe-stromsparziel-nach-bereich-pro-monat-histogram-chart>

    <bfe-stromsparziel-aktueller-monat-details>
    </bfe-stromsparziel-aktueller-monat-details>

    <bfe-stromsparziel-nach-bereich-aktueller-monat-histogram-chart>
    </bfe-stromsparziel-nach-bereich-aktueller-monat-histogram-chart>
</bfe-kpi-container>
