<bfe-kpi-container
    [footerConfig]="{
        sourceDynamicKey: 'kpi-strom-3_sparziel.datenquelle',
        langtextDynamicKey: 'kpi-strom-3_sparziel.langtext'
    }"
    titleKeyDynamic="kpi-strom-3_sparziel.titel"
    [isLoading]="isLoadingTrend"
>
    <bfe-kpi-container-row [indented]="true">
        <bfe-sparziel-overview
            *ngIf="!!sparzielZielData"
            [model]="{
                sparzielEntry: sparzielZielData,
                trendLabelKey: 'commons.trend',
                color: primaryColor
            }"
            [loading]="isLoadingTrend"
        >
        </bfe-sparziel-overview>
        <section class="teaser-section">
            <div
                [innerHTML]="
                    'dynamic:kpi-strom-3_sparziel.kurztext' | i18nextDynamic
                "
                class="info-subtext"
            ></div>
        </section>
    </bfe-kpi-container-row>

    <bfe-sparziel-histogram-chart
        [model]="{
            lastUpdate: sparzielZielData?.date,
            data: sparzielPerMonth,
            blocks: sparzielDataBlocks,
            colors: {
                bars: barColors,
                lines: lineColors
            },
            legendEntries,
            titleDynamicKey: 'kpi-strom-3_sparziel_aktuelle_einsparung.titel',
            langtextDynamicKey:
                'kpi-strom-3_sparziel_aktuelle_einsparung.langtext',
            sparzielTarget: sparzielTarget
        }"
        [loading]="isLoadingPerMonth"
    ></bfe-sparziel-histogram-chart>

    <div class="divider-section">
        <hr/>
    </div>

    <bfe-stromsparziel-nach-bereich-pro-monat-histogram-chart>
    </bfe-stromsparziel-nach-bereich-pro-monat-histogram-chart>

    <bfe-stromsparziel-aktueller-monat-details>
    </bfe-stromsparziel-aktueller-monat-details>

    <bfe-stromsparziel-nach-bereich-aktueller-monat-histogram-chart>
    </bfe-stromsparziel-nach-bereich-aktueller-monat-histogram-chart>
</bfe-kpi-container>
