<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header
            [title]="
                isMonthly ? (data.date | date: 'MMMM yyyy') : (data.date | date)
            "
        />
        <ng-container *ngFor="let entry of lineEntries; index as i">
            <bfe-tooltip-row
                *ngIf="data.values[i] as value"
                shape="dot"
                [color]="entry.color"
                [label]="entry.labelKey"
                [data]="{
                    value: value,
                    suffix: withSpaceBeforePostfix ? ' ' + postfix : postfix
                }"
            />
        </ng-container>
    </bfe-tooltip-container>
</div>
