<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <ng-container *ngIf="!!data">
        <section class="date-section" *ngIf="!isMonthly">
            {{ data.date | date }}
        </section>
        <section class="date-section" *ngIf="isMonthly">
            {{ data.date | date: 'MMMM yyyy' }}
        </section>
        <section class="percent-section">
            <!-- current percentage -->
            <ng-container *ngFor="let entry of lineEntries; index as i">
                <ng-container *ngIf="data.values[i] as value">
                    <span
                        class="dot"
                        [style.backgroundColor]="entry.color"
                    ></span>
                    <span class="column-margin">{{
                        entry.labelKey | i18next
                        }}</span>
                    <span class="justify-right">
                        {{ value }}
                    </span>
                    <span class="text-muted">
                        {{ postfix }}
                    </span>
                </ng-container>
            </ng-container>
        </section>
    </ng-container>
</div>
