<div class="tooltip-container stromsparziel-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header header [title]="'commons.sparziel.difference' | i18next" />

        <bfe-tooltip-icon-row
            icon="house"
            [color]="privateColor"
            label="commons.sparziel.sectors.private"
            [data]="{
                value: getPrivatePercent() | number: '1.1-1',
                suffix: '%'
            }"
        />

        <bfe-tooltip-icon-row
            icon="buildings"
            [color]="kmuColor"
            label="commons.sparziel.sectors.kmu"
            [data]="{ value: getKmuPercent() | number: '1.1-1', suffix: '%' }"
        />

        <bfe-tooltip-icon-row
            icon="industry-windows"
            [color]="industryColor"
            label="commons.sparziel.sectors.industry"
            [data]="{
                value: getIndustryPercent() | number: '1.1-1',
                suffix: '%'
            }"
            
        />

        <bfe-tooltip-row
            shape="none"
            label="commons.already-saved"
            [data]="{ value: getSavings() | number: '1.1-1', suffix: ' GWh' }"
        />
    </bfe-tooltip-container>
</div>
