<div *ngIf="!isLoading; else loadingTemplate" class="diagram-container">
    <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>

    <bfe-histogram-detail
        class="margin-bottom"
        (diagramLeave)="hideTooltip()"
        (elFocus)="showTooltip($event)"
        [data]="entries"
        [blocks]="blocks"
        [barWidth]="barWidth"
        [barColors]="barColors"
        [barLineColor]="barLineColor"
        [lineColors]="[]"
        [lineThickness]="[1]"
        [lineStyle]="['solid']"
        [barLineStyle]="'dashed'"
        [xLabelModifier]="xLabelModifier"
        [yLabelFormatter]="yLabelFormatter"
        [domainMax]="domainMax"
        [domainMin]="domainMin"
        [steppedLine]="true"
    ></bfe-histogram-detail>

    <bfe-stromsparziel-nach-bereich-aktueller-monat-histogram-chart-tooltip
        [event]="tooltipEvent"
        [barColors]="barColors"
        [barLineColor]="barLineColor"
    >
    </bfe-stromsparziel-nach-bereich-aktueller-monat-histogram-chart-tooltip>

    <bfe-hideable-text-section
        [context]="'chart'"
        [textTranslationKey]="
            'dynamic:kpi-strom-3_sparziel_aktueller-monat-details.langtext'
        "
    ></bfe-hideable-text-section>
</div>

<ng-template #loadingTemplate>
    <bfe-loading-spinner></bfe-loading-spinner>
</ng-template>
