@use 'dim';

.diagram-container {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.trend-section {
    display: flex;
    justify-content: flex-start;
    gap: 44px;
    align-items: flex-start;
}

.trend-section-diagram {
    position: relative;
}
.label-medium {
    white-space: nowrap;
}
.bottom-label {
    position: relative;
    span {
        position: absolute;
        bottom: -22px;
    }
}

.einsparungen-diagram {
    .savings-reached p {
        margin-bottom: 0;
        color: white;
    }

    .row {
        display: flex;
    }

    .row div {
        height: 100%;
    }

    .row div:nth-of-type(1) {
        width: 120px;
    }

    .row div:nth-of-type(2) {
        width: 44px;
    }

    .row div:nth-of-type(3) {
        width: 120px;
        box-sizing: content-box;
    }

    .row:nth-of-type(2) .col:nth-of-type(1) {
        border-bottom: 2px solid #d9d9d9;
        display: flex;
    }

    .row:nth-of-type(2) .col:nth-of-type(2) {
        box-sizing: content-box;
        border-bottom: 2px solid #d9d9d9;
    }

    .row:nth-of-type(2) .col:nth-of-type(3) {
        border-bottom: 2px solid #d9d9d9;
        display: flex;
        justify-content: flex-end;
        align-items: end;
    }

    .row:nth-of-type(3) .col:nth-of-type(1),
    .row:nth-of-type(4) .col:nth-of-type(3),
    .row:nth-of-type(5) .col:nth-of-type(1) {
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid;
    }

    .row:nth-of-type(1) .col:nth-of-type(3) {
        display: flex;
        align-items: flex-start;
        justify-content: end;
    }

    .row .col:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row:nth-of-type(4) .col:nth-of-type(3) {
        justify-content: flex-end;
    }
}

.diagram-item-title {
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .diagram-item {
        flex-basis: 100%;
    }

    .diagram-item:nth-of-type(1) {
        margin-bottom: 40px;
    }
}

.trend-section-diagram {
    &:hover {
        .tooltip {
            visibility: visible;
        }
    }
}

.tooltip {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 200px;
    visibility: hidden;
    pointer-events: none;

    @media (max-width: #{dim.$bp-min-md}) {
        left: 0;
        top: 100%;
    }
}
