<section class="trend-section" *ngIf="!isLoading">
    <section class="trend-section-diagram">
        <div class="diagram-item">
            <!--
            This is the Einsparungen Diagram. It consists of 3 rows with 3 columns each.
            The left column containing the labels "Private", "KMU" and "Industrie".
            The middle column has the icons and the colored bars.
            The right column only has a single lable with the GWh Value on top.
            The height of each row are variable and are defined by the values that are received from the API
            -->

            <!-- TODO: Check for the height values and do not show the icon if the value is too small -->
            <div class="einsparungen-diagram">
                <div class="row">
                    <div class="col">
                        <span class="label-medium"> </span>
                    </div>
                    <div class="col"></div>

                    <div class="col"></div>
                </div>

                <div class="row" [style.height]="getSavingsHeight() + 'px'">
                    <div class="col">
                        <span class="label-medium">
                            {{ 'commons.sparziel.goal' | i18next }}:
                            {{ this.savingsGoalGwh }} GWh
                        </span>
                    </div>
                    <div
                        class="col savings-reached"
                        [style.backgroundColor]="
                            isSavingsGoalReached ? savedColor : ''
                        "
                    >
                        <span>
                            <p class="num-xtra-small">
                                {{
                                isSavingsGoalReached
                                    ? getSavings() - 100 + '%'
                                    : ''
                                }}
                            </p>
                        </span>
                    </div>

                    <div class="col">
                        <span class="label-medium"
                        >Gespart: {{ getSavings() }}%</span
                        >
                    </div>
                </div>

                <div class="row" [style.height]="getPrivateHeight() + 'px'">
                    <div class="col" [style.border-color]="privateColor">
                        <span class="label-medium">
                            {{ 'commons.sparziel.sectors.private' | i18next }}
                        </span>
                    </div>
                    <div class="col" [style.backgroundColor]="privateColor">
                        <span>
                            <fa-icon
                                [icon]="'house'"
                                [style.color]="'white'"
                            ></fa-icon>
                        </span>
                    </div>
                    <div class="col"></div>
                </div>

                <div class="row" [style.height]="getKmuHeight() + 'px'">
                    <div class="col"></div>
                    <div class="col" [style.backgroundColor]="kmuColor">
                        <span>
                            <fa-icon
                                [icon]="'buildings'"
                                [style.color]="'white'"
                            ></fa-icon>
                        </span>
                    </div>
                    <div class="col" [style.border-color]="kmuColor">
                        <span class="label-medium">
                            {{ 'commons.sparziel.sectors.kmu' | i18next }}
                        </span>
                    </div>
                </div>

                <div class="row" [style.height]="getIndustryHeight() + 'px'">
                    <div class="col" [style.border-color]="industryColor">
                        <span class="label-medium">
                            {{ 'commons.sparziel.sectors.industry' | i18next }}
                        </span>
                    </div>
                    <div class="col" [style.backgroundColor]="industryColor">
                        <span>
                            <fa-icon
                                [icon]="'industry-windows'"
                                [style.color]="'white'"
                            ></fa-icon>
                        </span>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>

        <section class="tooltip">
            <bfe-stromsparziel-five-percent-details-tooltip
                [data]="data"
                [industryColor]="industryColor"
                [kmuColor]="kmuColor"
                [privateColor]="privateColor"
                [savingsGoalGwh]="savingsGoalGwh"
            >
            </bfe-stromsparziel-five-percent-details-tooltip>
        </section>
    </section>
</section>
