<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <ng-container *ngIf="!!data">
        <section class="date-section">{{ data.date | date }}</section>
        <section class="values-section">
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                color="black"
                textKey="dashboard.strom.produktion.verbrauch"
                [data]="data.values[index.VERBRAUCH]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                [color]="colorStrom"
                textKey="dashboard.strom.produktion.type.nettoimporte"
                [data]="data.values[index.NETTOIMPORTE]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>

            <!-- divider -->
            <span class="divider-section"><hr width="100%" /></span>

            <!-- Eigenproduktion -->
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                [color]="colors.THERMISCHE"
                textKey="dashboard.strom.produktion.type.thermische"
                [data]="data.values[index.THERMISCHE]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                [color]="colors.SPEICHERKRAFT"
                textKey="dashboard.strom.produktion.type.speicherkraft"
                [data]="data.values[index.SPEICHERKRAFT]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                [color]="colors.WIND"
                textKey="dashboard.strom.produktion.type.wind"
                [data]="data.values[index.WIND]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                [color]="colors.PHOTOVOLTAIK"
                textKey="dashboard.strom.produktion.type.photovoltaik"
                [data]="data.values[index.PHOTOVOLTAIK]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                [color]="colors.KERNKRAFT"
                textKey="dashboard.strom.produktion.type.kernkraft"
                [data]="data.values[index.KERNKRAFT]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>
            <bfe-produktion-verbrauch-historgram-chart-tooltip-row
                [color]="colors.FLUSSKRAFT"
                textKey="dashboard.strom.produktion.type.flusskraft"
                [data]="data.values[index.FLUSSKRAFT]"
            >
            </bfe-produktion-verbrauch-historgram-chart-tooltip-row>
        </section>
    </ng-container>
</div>
