<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <bfe-tooltip-container #tooltip [class.hidden]="!event">
        <ng-container *ngIf="!!data">
            <bfe-tooltip-header
                header
                [title]="
                    withWeekly
                        ? (data!.date | date: 'MMMM yyyy')
                        : (data!.date | date)
                "
            />
            <ng-container *ngIf="hasCurrentValues()">
                <ng-container *ngIf="entries.length > 0; else singleEntry">
                    <bfe-tooltip-row
                        *ngFor="let entry of entries; let i = index"
                        [color]="entry.color"
                        [label]="entry.label"
                        [shape]="'dot'"
                        [data]="{
                            value: data.values[i],
                            suffix: suffix
                        }"
                        [dataCol2]="{
                            value: data.absoluteValue,
                            suffix: data.absoluteValue ? suffix : ''
                        }"
                        [colNumber]="hasDifference() ? 2 : 1"
                    />
                </ng-container>

                <ng-template #singleEntry>
                    <bfe-tooltip-row
                        [color]="primaryColor"
                        [label]="currentLabel"
                        [shape]="'dot'"
                        [data]="{
                            value: data.values[1],
                            suffix: suffix
                        }"
                        [dataCol2]="{
                            value: data.absoluteValue,
                            suffix: data.absoluteValue ? suffix : ''
                        }"
                        [colNumber]="hasDifference() ? 2 : 1"
                    />
                </ng-template>

                <!-- divider -->
                <bfe-tooltip-diff-divider *ngIf="hasDifference()" />
                <bfe-tooltip-divider *ngIf="!hasDifference()" />
            </ng-container>
            <!-- Band Max -->
            <bfe-tooltip-row
                [color]="colorMinMax"
                [label]="bandMaxLabel"
                [shape]="'dot'"
                [data]="{
                    value: data.band?.upper,
                    suffix: suffix
                }"
                [dataCol2]="{
                    value: data.tooltipInformation?.differenzMax,
                    suffix: diffSuffix
                }"
                [colNumber]="hasDifference() ? 2 : 1"
            />
            <!-- Band Mean -->
            <bfe-tooltip-row
                [color]="colorSecondary"
                [label]="bandMeanLabel"
                [shape]="'dot'"
                [data]="{
                    value: data.band?.mean ? data.band?.mean : data.values[0],
                    suffix: suffix
                }"
                [dataCol2]="{
                    value: data.tooltipInformation?.differenzMittelwert,
                    suffix: diffSuffix
                }"
                [colNumber]="hasDifference() ? 2 : 1"
            />
            <!-- Band Min -->
            <bfe-tooltip-row
                [color]="colorMinMax"
                [label]="bandMinLabel"
                [shape]="'dot'"
                [data]="{
                    value: data.band?.lower,
                    suffix: suffix
                }"
                [dataCol2]="{
                    value: data.tooltipInformation?.differenzMittelwert,
                    suffix: diffSuffix
                }"
                [colNumber]="hasDifference() ? 2 : 1"
            />
        </ng-container>
    </bfe-tooltip-container>
</div>
