<div class="stromverbrauch-historischer-landesverbrauch-histogram-chart">
    <section>
        <bfe-kpi-subtitle>
            {{
                'dynamic:kpi-strom-1_landesverbrauch_BFE-SG-ENTSOE.titel'
                    | i18nextDynamic
            }}
        </bfe-kpi-subtitle>
        <bfe-kpi-date-info-subtext
            [date]="currentDate"
            updateInterval="monthly"
        >
        </bfe-kpi-date-info-subtext>

        <div *ngIf="(chartData.length ?? 0) > 0" class="diagram-container">
            <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>
            <bfe-histogram-line
                (diagramLeave)="hideTooltip()"
                (elFocus)="showLineChartTooltip($event)"
                [bandColor]="bandColor"
                [colors]="lineChartColors"
                [data]="chartData"
                [domainMin]="minYValue"
                [strokeWidths]="[1, 2, 2, 2]"
                [xLabelModifier]="labelModifier"
                [yLabelFormatter]="yLabelFormatter"
                [xSubLabelModifier]="subLabelModifier"
            ></bfe-histogram-line>
            <bfe-stromverbrauch-chart-tooltip
                [event]="tooltipEvent"
                [isMonthly]="true"
                [lineEntries]="lineEntries"
                [withSpaceBeforePostfixDifference]="false"
                [withSpaceBeforePostfix]="true"
                postfix="GWh"
                postfixDifference="%"
            ></bfe-stromverbrauch-chart-tooltip>
        </div>

        <bfe-hideable-text-section
            [context]="'chart'"
            [textTranslationKey]="
                'dynamic:kpi-strom-1_landesverbrauch_BFE-SG-ENTSOE.langtext'
            "
        ></bfe-hideable-text-section>
    </section>
</div>
