<section class="niederschlag-karten-section">
    <div>
        <bfe-image-section
            [loading]="isLoading"
            [model]="imageSectionCurrentMonth"
        ></bfe-image-section>
        <bfe-hideable-text-section
            [context]="'chart'"
            [textTranslationKey]="
                'dynamic:kpi-wetter-3_niederschlag-karten.currentmonth.langtext'
            "
        ></bfe-hideable-text-section>
    </div>
    <div>
        <bfe-image-section
            [loading]="isLoading"
            [model]="imageSectionLastMonth"
        ></bfe-image-section>
        <bfe-hideable-text-section
            [context]="'chart'"
            [textTranslationKey]="
                'dynamic:kpi-wetter-3_niederschlag-karten.lastmonth.langtext'
            "
        ></bfe-hideable-text-section>
    </div>
</section>
