@use 'col';

:host {
    width: 100%;
}

.map-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.map {
    transition: transform ease-out 0.3s;
    min-width: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 25px;
    flex: 1;
}

@media (max-width: 800px) {
    .map-container {
        flex-direction: column;
    }

    .map {
        width: 100%;
        margin-bottom: 40px;
        margin-right: 0;
    }
}

.map-highlighted-container {
    margin-top: 20px;
}

.map-container .p {
    width: 100%;
    margin-bottom: 30px;
}

.map:nth-of-type(1) {
    margin-right: 40px;
}

.map-highlighted {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 25px;
    background-color: white;
    z-index: 10000;
    position: relative;

    p {
        margin-bottom: 20px;
    }
}

.map-highlighted-title {
    display: flex;
    justify-content: space-between;

    fa-icon {
        cursor: pointer;
    }
}

.map-container:nth-of-type(1) {
    margin-bottom: 40px;
}

@media screen and (max-width: 1100px) {
    .map {
        margin-bottom: 40px;
    }

    .map-container {
        margin-bottom: 0;
    }
}

.map:hover {
    border: 1px solid col.$dark;
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 12px 16px rgba(13, 27, 41, 0.2);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
