@use 'col';

.source {
    font-size: 12px;
    margin: 0;
    text-align: center;
    margin-top: 16px;
    margin-top: auto;
}

bfe-overview-card {
    .content {
        margin-right: 2px; // add and remove margin to prevent content from jumping on scale
    }
}

