:host {
    width: 100%;
    height: 100%;
    padding: 8px;
}

.loader {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: #ededed;
    }
    100% {
        background-color: #ccc;
    }
}
