<bfe-kpi-container
    [footerConfig]="{
        sourceDynamicKey: 'kpi-strom-1_landesverbrauch.datenquelle',
        langtextDynamicKey: 'kpi-strom-1_landesverbrauch.langtext'
    }"
    [isLoading]="isLoading"
    titleKeyDynamic="kpi-strom-1_landesverbrauch.titel"
>
    <section>
        <bfe-kpi-container-row>

            <bfe-trend-and-number
                *ngIf="!!currentEntry"
                [isLoading]="isLoading"
                [model]="{
                            color: COLOR_SPACE,
                            bigNumber: {
                                value: currentEntry.landesverbrauchPrognose,
                                postfix: 'GWh',
                                subTextKeys: [
                                    'dashboard.strom.verbrauch-daily.per-day'
                                ]
                            },
                            secondBigNumber: {
                                value: currentEntry.landesverbrauchPrognoseInFiveDays ?? 0,
                                postfix: 'GWh',
                                subTextKeys: [
                                    'dashboard.strom.verbrauch-daily.in-five-days'
                                ]
                            },
                            trend: {
                                value: currentEntry.trend,
                                rating: currentEntry.trendRating,
                                subTextKeys: ['dashboard.strom.produktion.rolling-trend']
                            }
                        }"
            />

            <section class="teaser-section desktop-only">
                <div
                    [innerHTML]="
                        'dynamic:kpi-strom-1_landesverbrauch.kurztext'
                            | i18nextDynamic
                    "
                    class="teaser"
                ></div>
            </section>


        </bfe-kpi-container-row>

        <div class="mobile-only">
            <bfe-kpi-container-row>
                <bfe-hideable-text-section
                    [context]="'trend'"
                    [textTranslationKey]="
                        'dynamic:kpi-strom-1_landesverbrauch.kurztext'
                    "
                ></bfe-hideable-text-section>
            </bfe-kpi-container-row>
        </div>
    </section>

    <div
        class="chart-wrapper"
        *ngIf="!!landesverbrauchMitPrognoseChartEntries && !!currentEntry"
    >
        <bfe-stromverbrauch-aktueller-landesverbrauch-histogram-chart
            [chartData]="landesverbrauchMitPrognoseChartEntries"
            [currentDate]="currentEntry.date"
        >
        </bfe-stromverbrauch-aktueller-landesverbrauch-histogram-chart>
    </div>

    <div
        class="chart-wrapper"
        *ngIf="
            !isLoadingAktuellerEndverbrauch &&
            aktuellerEndverbrauchChartEntries &&
            !!currentEntry
        "
    >
        <bfe-stromverbrauch-aktueller-endverbrauch-histogram-chart
            [chartData]="aktuellerEndverbrauchChartEntries"
            [currentDate]="currentEntry.date"
        >
        </bfe-stromverbrauch-aktueller-endverbrauch-histogram-chart>
    </div>

    <div
        class="chart-wrapper"
        *ngIf="
            !isLoadingLandesverbrauchVergleich &&
            landesverbrauchMitPrognoseChartEntries &&
            !!currentEntry
        "
    >
        <bfe-stromverbrauch-historischer-landesverbrauch-histogram-chart
            [chartData]="landesverbrauchVergleichChartEntries"
            [currentDate]="currentEntry.date"
        >
        </bfe-stromverbrauch-historischer-landesverbrauch-histogram-chart>
    </div>
</bfe-kpi-container>
