<bfe-kpi-container
    [footerConfig]="{
        sourceDynamicKey: 'kpi-strom-1_landesverbrauch.datenquelle',
        langtextDynamicKey: 'kpi-strom-1_landesverbrauch.langtext'
    }"
    [isLoading]="isLoading"
    titleKeyDynamic="kpi-strom-1_landesverbrauch.titel"
>
    <bfe-kpi-container-row>
        <section>
            <section class="trend-section" *ngIf="!!currentEntry">
                <section>
                    <section>
                        <bfe-large-number-unit
                            [number]="currentEntry.landesverbrauchPrognose"
                            unit="GWh"
                            [color]="COLOR_SPACE"
                        ></bfe-large-number-unit>
                        <p>
                            {{
                                'dashboard.strom.verbrauch-daily.per-day'
                                    | i18next
                            }}
                        </p>
                    </section>
                    <section>
                        <bfe-large-number-unit
                            [number]="
                                currentEntry.landesverbrauchPrognoseInFiveDays
                            "
                            unit="GWh"
                            [color]="COLOR_SPACE"
                        ></bfe-large-number-unit>
                        <p>
                            {{
                                'dashboard.strom.verbrauch-daily.in-five-days'
                                    | i18next
                            }}
                        </p>
                    </section>
                </section>
                <section class="trend-display-section">
                    <bfe-trend-indicator
                        [trend]="currentEntry.trend"
                        [rating]="currentEntry.trendRating"
                    ></bfe-trend-indicator>
                    <p>
                        {{
                            'dashboard.strom.produktion.rolling-trend' | i18next
                        }}
                    </p>
                </section>
            </section>
        </section>
        <section class="teaser-section">
            <div
                class="teaser"
                [innerHTML]="
                    'dynamic:kpi-strom-1_landesverbrauch.kurztext'
                        | i18nextDynamic
                "
            ></div>
        </section>
    </bfe-kpi-container-row>

    <div
        class="chart-wrapper"
        *ngIf="!!landesverbrauchMitPrognoseChartEntries && !!currentEntry"
    >
        <bfe-stromverbrauch-aktueller-landesverbrauch-histogram-chart
            [chartData]="landesverbrauchMitPrognoseChartEntries"
            [currentDate]="currentEntry.date"
        >
        </bfe-stromverbrauch-aktueller-landesverbrauch-histogram-chart>
    </div>

    <div
        class="chart-wrapper"
        *ngIf="
            !isLoadingAktuellerEndverbrauch &&
            aktuellerEndverbrauchChartEntries &&
            !!currentEntry
        "
    >
        <bfe-stromverbrauch-aktueller-endverbrauch-histogram-chart
            [chartData]="aktuellerEndverbrauchChartEntries"
            [currentDate]="currentEntry.date"
        >
        </bfe-stromverbrauch-aktueller-endverbrauch-histogram-chart>
    </div>

    <div
        class="chart-wrapper"
        *ngIf="
            !isLoadingLandesverbrauchVergleich &&
            landesverbrauchMitPrognoseChartEntries &&
            !!currentEntry
        "
    >
        <bfe-stromverbrauch-historischer-landesverbrauch-histogram-chart
            [chartData]="landesverbrauchVergleichChartEntries"
            [currentDate]="currentEntry.date"
        >
        </bfe-stromverbrauch-historischer-landesverbrauch-histogram-chart>
    </div>
</bfe-kpi-container>
