<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header [title]="data.date | date" />
        <!-- current availability -->
        <bfe-tooltip-row
            *ngIf="data.values[1] as value"
            shape="dot"
            [color]="kkwColors.COLOR_KKW_PRIMARY"
            [label]="'commons.legend.latest'"
            [data]="{ value, suffix: ' GWh' }"
        />

        <!-- DIVIDER -->
        <bfe-tooltip-divider *ngIf="data.values[1]" />

        <!-- Outages -->
        <bfe-tooltip-row
            *ngFor="let ausfall of data.ausfaelle"
            [shape]="ausfall.count ? 'none' : 'area'"
            [color]="getAusfallColor(ausfall.wasPlanned)"
            [label]="
                getAusfallText(
                    ausfall.wasPlanned,
                    ausfall.productionPlant,
                    ausfall.count
                )
            "
        />

        <!-- DIVIDER -->
        <bfe-tooltip-divider *ngIf="(data.ausfaelle?.length ?? 0) > 0" />

        <!-- max production -->
        <bfe-tooltip-row
            shape="dot"
            [color]="colorMinMax"
            [label]="
                'dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-max-percentage'
            "
            [data]="{ value: data.band?.upper, suffix: ' GWh' }"
        />

        <!-- average availability -->
        <bfe-tooltip-row
            shape="dot"
            [color]="kkwColors.COLOR_KKW_PRODUCTION_MITTELWERT"
            [label]="'commons.legend.average'"
            [data]="{ value: data.values[0], suffix: ' GWh' }"
        />

        <!-- min availability -->
        <bfe-tooltip-row
            shape="dot"
            [color]="colorMinMax"
            [label]="
                'dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-min-percentage'
            "
            [data]="{ value: data.band?.lower, suffix: ' GWh' }"
        />
    </bfe-tooltip-container>
</div>
