<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <ng-container *ngIf="!!data">
        <section class="date-section">
            {{ data.date | date }}
        </section>
        <section class="value-section">
            <!-- current availability -->
            <ng-container *ngIf="data.values[1]">
                <span
                    class="dot"
                    [style.backgroundColor]="kkwColors.COLOR_KKW_PRIMARY"
                ></span>
                <span class="column-margin label-medium">{{
                    'commons.legend.latest' | i18next
                    }}</span>
                <span>
                    <span>
                        {{ data.values[1] }}
                    </span>
                    <span class="tooltip-subfix">GWh</span>
                </span>
                <span></span>

                <span class="divider"><hr width="100%"/></span>
            </ng-container>

            <ng-container *ngFor="let ausfall of data.ausfaelle">
                <span
                    class="dot"
                    [style.backgroundColor]="
                        getAusfallColor(ausfall.wasPlanned)
                    "
                ></span>
                <span class="column-margin label-medium"
                >{{
                    (ausfall.wasPlanned
                            ? 'dashboard.strom.kkw.maintenance'
                            : 'dashboard.strom.kkw.outage'
                    ) | i18next
                    }}
                    <ng-container *ngIf="ausfall.productionPlant">
                        -
                        {{
                        'dashboard.strom.kkw.' + ausfall.productionPlant
                            | i18next
                        }}
                    </ng-container>
                    <ng-container *ngIf="ausfall.count">
                        -
                        {{
                        'dashboard.strom.kkw.count'
                            | i18next: {count: ausfall.count}
                        }}
                    </ng-container>
                </span>
                <span></span>
                <span></span>
            </ng-container>
            <span *ngIf="(data.ausfaelle?.length ?? 0) > 0" class="divider">
                <hr width="100%"/>
            </span>

            <!-- max production -->
            <span
                class="dot"
                [style.backgroundColor]="kkwColors.COLOR_KKW_PRODUCTION_MINMAX"
            ></span>
            <span class="column-margin label-medium">{{
                'dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-max-percentage'
                    | i18next
                }}</span>
            <span>
                <span>
                    {{ data.band?.upper }}
                </span>
                <span class="tooltip-subfix">GWh</span>
            </span>
            <span></span>

            <!-- average availability -->
            <span
                class="dot"
                [style.backgroundColor]="
                    kkwColors.COLOR_KKW_PRODUCTION_MITTELWERT
                "
            ></span>
            <span class="column-margin label-medium">{{
                'commons.legend.average' | i18next
                }}</span>
            <span>
                <span>
                    {{ data.values[0] }}
                </span>
                <span class="tooltip-subfix">GWh</span>
            </span>
            <span></span>

            <!-- min availability -->
            <span
                class="dot"
                [style.backgroundColor]="kkwColors.COLOR_KKW_PRODUCTION_MINMAX"
            ></span>
            <span class="column-margin label-medium">{{
                'dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-min-percentage'
                    | i18next
                }}</span>
            <span>
                <span>
                    {{ data.band?.lower }}
                </span>
                <span class="tooltip-subfix">GWh</span>
            </span>
            <span></span>
        </section>
    </ng-container>
</div>
