<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <bfe-tooltip-container [positionRelative]="true">
        <ng-container *ngIf="!!titleKey">
            <bfe-tooltip-header [title]="titleKey | i18next" />
            <bfe-tooltip-row
                *ngIf="projectedPercentage !== null"
                [color]="achievedColor + '99'"
                shape="area"
                label="commons.sparziel.projected-label"
                [dataCol2]="{ value: projectedPercentage, suffix: '%' }"
                [data]="{ value: achievedValue, suffix: ' GWh' }"
            />
            <bfe-tooltip-row
                *ngIf="achievedPercentage !== null"
                [color]="achievedColor"
                shape="area"
                label="commons.sparziel.meassured-label"
                [dataCol2]="
                    achievedPercentage
                        ? { value: achievedPercentage, suffix: '%' }
                        : undefined
                "
                [data]="{
                    value: achievedValue ?? 0 | thousandComma,
                    suffix: ' GWh'
                }"
            />

            <bfe-tooltip-row
                *ngIf="target"
                shape="dashed-line"
                [color]="targetColor"
                label="commons.sparziel"
                [data]="{ value: target.gwh | thousandComma, suffix: ' GWh' }"
                [dataCol2]="{
                    value: target.percent | number: '1.1-1',
                    suffix: '%'
                }"
            />

            <bfe-tooltip-divider *ngIf="weatherAdjustedPercent !== null" />
            <bfe-tooltip-row
                *ngIf="weatherAdjustedPercent !== null"
                [color]="achievedColor"
                shape="none"
                label="commons.sparziel.temperature-corrected"
                [data]="{
                    value: weatherAdjustedGwh | thousandComma,
                    suffix: ' GWh'
                }"
                [dataCol2]="{ value: weatherAdjustedPercent, suffix: '%' }"
            />
        </ng-container>
    </bfe-tooltip-container>
</div>
