bfe-aktuelles-wetter-prognose-histogram-chart,
bfe-produktion-verbrauch-histogram-chart {
    width: 100%;
}

.trend-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    section {
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
}

.trend-section-large-number {
    max-width: 150px;
    text-align: center;
}

.region-selection-section {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    margin-top: -28px;

    bfe-aktuelles-wetter-region-select {
        width: 100%;
    }
}

.loading-container {
    height: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-section {
    width: 100%;

    hr {
        height: 1px;
        background-color: #ebebeb;
        border: none;
        width: 100%;
    }
}
