<bfe-kpi-container
    titleKeyDynamic="kpi-wetter-3_niederschlag.titel"
    [footerConfig]="{
        sourceDynamicKey: 'kpi-wetter-3_niederschlag.datenquelle',
        langtextDynamicKey: 'kpi-wetter-3_niederschlag.langtext'
    }"
    [isLoading]="isLoading"
>
    <section>
        <bfe-kpi-container-row>
            <section>
                <bfe-trend-and-number
                    *ngIf="!!trend"
                    [model]="{
                        color: primaryColor,
                        bigNumber: {
                            value: trend.niederschlagGemessen,
                            postfix: '%',
                            subTextKeys: [
                                'commons.wetter.niederschlag.incomparison'
                            ],
                            topTextKeys: [currentMonthTranslationKey]
                        },
                        trend: {
                            value: trend.trend,
                            rating: trend.trendRating,
                            subTextKeys: ['commons.trend']
                        }
                    }"
                ></bfe-trend-and-number>
            </section>

            <section class="teaser-section desktop-only">
                <div
                    [innerHTML]="
                        'dynamic:kpi-wetter-3_niederschlag.kurztext'
                            | i18nextDynamic
                    "
                    class="teaser"
                ></div>
            </section>
        </bfe-kpi-container-row>

        <div class="mobile-only">
            <bfe-kpi-container-row>
                <bfe-hideable-text-section
                    [context]="'trend'"
                    [textTranslationKey]="
                        'dynamic:kpi-wetter-3_niederschlag.kurztext'
                    "
                ></bfe-hideable-text-section>
            </bfe-kpi-container-row>
        </div>
    </section>

    <bfe-niederschlag-karten [isLoading]="isLoading"></bfe-niederschlag-karten>

    <bfe-divider />

    <bfe-niederschlag-aktuell-histogram-chart
        *ngIf="!isLoading"
        [loading]="isLoading"
    ></bfe-niederschlag-aktuell-histogram-chart>

    <bfe-divider />
</bfe-kpi-container>
