bfe-d3-svg {
    display: block;

    .d3-svg {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        min-height: var(--d3-svg-min-h);
        max-height: var(--d3-svg-max-h);
        margin-bottom: var(--d3-svg-margin-bottom);
        overflow: var(--d3-svg-overflow);

        & > svg {
            flex-grow: 1;
            display: block;
            width: 100%;
            height: 100%;
            overflow: var(--d3-svg-overflow);
        }

        .d3-additional-chart-content:not(:empty) {
            margin-top: 22px;
        }
    }
}
