.diagram-legend-container {
    display: flex;

    &.horizontal {
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        column-gap: 20px;
    }

    &.vertical {
        flex-direction: column;
        align-items: flex-start;
    }

    .legend-entry {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 4px;

        .color-rectangle {
            display: block;
            width: 22px;

            &.area {
                border-top: 8px solid;
            }

            &.line {
                border-top: 4px solid;
            }

            &.dashed-line {
                border-top: 4px dotted;
            }

            &.diagonal {
                background: linear-gradient(
                        135deg,
                        #ffffff 10%,
                        #cccccc 10%,
                        #cccccc 20%,
                        #ffffff 20%,
                        #cccccc 30%,
                        #ffffff 30%,
                        #cccccc 40%,
                        #ffffff 40%,
                        #cccccc 50%,
                        #ffffff 50%,
                        #cccccc 60%,
                        #ffffff 60%,
                        #cccccc 70%,
                        #ffffff 70%,
                        #cccccc 80%,
                        #ffffff 80%,
                        #cccccc 90%,
                        #ffffff 90%,
                        #cccccc 100%
                ) repeat;
                height: 8px;
            }
        }

        .two-colors {
            display: flex;

            .color-rectangle {
                width: 11px;
            }
        }
    }
}
