<div>
    <div
        class="diagram-legend-container"
        [ngClass]="horizontal ? 'horizontal' : 'vertical'"
        *ngIf="isInteractive; else staticFirstLine"
    >
        <bfe-diagram-legend-entry
            *ngFor="let entry of entries"
            [entry]="entry"
            class="interactive-entry"
            [active]="entry.key === selectedDataIndex"
            (click)="onEntryClick(entry?.key)"
        />
    </div>
    <div
        class="diagram-legend-container horizontal"
        *ngIf="isInteractive; else staticSecondLine"
    >
        <bfe-diagram-legend-entry
            *ngFor="let entry of secondLineEntries"
            [entry]="entry"
            class="interactive-entry"
            [active]="entry.key === selectedDataIndex"
            (click)="onEntryClick(entry?.key)"
        />
    </div>
</div>
<!-- STATIC / INTERACTIVE -->
<ng-template #staticFirstLine class="test">
    <div
        class="diagram-legend-container"
        [ngClass]="horizontal ? 'horizontal' : 'vertical'"
    >
        <bfe-diagram-legend-entry
            *ngFor="let entry of entries"
            [entry]="entry"
        />
    </div>
</ng-template>

<ng-template #staticSecondLine>
    <div class="diagram-legend-container horizontal">
        <bfe-diagram-legend-entry
            *ngFor="let entry of secondLineEntries"
            [entry]="entry"
        />
    </div>
</ng-template>
