:host {
    display: flex;
    width: 100%;
}

.divider-section {
    width: 100%;

    hr {
        height: 1px;
        background-color: #ebebeb;
        border: none;
        width: 100%;
    }
}
