<ng-container *ngIf="consolidatedChartEntries">
    <bfe-histogram-area-stack
        #diagramContainer
        [data]="filteredConsolidatedChartEntries"
        [colors]="consolidatedColors"
        [focusPointColors]="consolidatedFocusPointColors"
        [domainMax]="domainMax"
        [domainMin]="domainMin"
        [showLines]="true"
        [areaOpacities]="areaOpacities"
        [xLabelModifier]="xLabelModifier"
        [xSubLabelModifier]="xSubLabelModifier"
        [yLabelFormatter]="yLabelFormatter"
        [margins]="margins"
        [focusPointBorder]="true"
        [isSplitChart]="true"
        (elFocus)="emitFocusEntry($event)"
        (diagramLeave)="diagramLeave.emit()"
    ></bfe-histogram-area-stack>
    <div class="spacer"></div>
    <bfe-brush-explanation></bfe-brush-explanation>
    <bfe-histogram-area-stack
        [data]="consolidatedChartEntries"
        [colors]="consolidatedColors"
        [domainMax]="domainMax"
        [domainMin]="domainMin"
        [showLines]="true"
        [areaOpacities]="areaOpacities"
        [xLabelModifier]="brushXLabelModifier"
        [margins]="brushDefaultMargins"
        [isSplitChart]="true"
        [maxHeight]="brushDefaultHeight"
        [hideYLabels]="true"
        [brushSelection]="brushSelection"
        [brushSelectionConfig]="brushSelectionConfig"
        (brushSelectionChange)="updateBrushSelection($event)"
    ></bfe-histogram-area-stack>
</ng-container>
