<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <ng-container *ngIf="!!data">
        <section class="date-section">
            {{ data.date | date: 'dd.MM.yyyy' }}
        </section>

        <ng-container
            *ngIf="data.barValues[0] || data.barValues[1] || data.barValues[2]"
        >
            <section class="tooltip-content">
                <div>
                    <span class="dot">
                        <fa-icon
                            [icon]="'house'"
                            [style.color]="barColors[0]"
                        ></fa-icon>
                    </span>

                    <span class="text">{{
                        'commons.sparziel.sectors.private' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.barValues[0] }}%</span>
                </span>
            </section>

            <section class="tooltip-content">
                <div>
                    <span class="dot">
                        <fa-icon
                            [icon]="'buildings'"
                            [style.color]="barColors[1]"
                        ></fa-icon>
                    </span>

                    <span class="text">{{
                        'commons.sparziel.sectors.kmu' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.barValues[1] }}%</span>
                </span>
            </section>

            <section class="tooltip-content">
                <div>
                    <span class="dot">
                        <fa-icon
                            [icon]="'industry-windows'"
                            [style.color]="barColors[2]"
                        ></fa-icon>
                    </span>

                    <span class="text">{{
                        'commons.sparziel.sectors.industry' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.barValues[2] }}%</span>
                </span>
            </section>

            <div class="divider-section">
                <hr/>
            </div>

            <section class="tooltip-content">
                <div>
                    <span
                        [style.backgroundColor]="barLineColor"
                        class="dot"
                    ></span>

                    <span class="text">{{
                        'commons.sparziel.netto-value' | i18next
                        }}</span>
                </div>

                <span class="text-value">
                    <span> {{ data.barLineValue }}%</span>
                </span>
            </section>
        </ng-container>
    </ng-container>
</div>
