<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header header [title]="data.date | date" />

        <!-- import values -->
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.FR)"
            [color]="consts.import.FR"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.import-fr"
            [data]="{
                value:
                    data.positiveEntries.length > 1
                        ? data.positiveEntries[countryIndex.FR]
                        : data.positiveEntries[0],
                suffix: measuringUnit
            }"
        />
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.IT)"
            [color]="consts.import.IT"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.import-it"
            [data]="{
                value:
                    data.positiveEntries.length > 1
                        ? data.positiveEntries[countryIndex.IT]
                        : data.positiveEntries[0],
                suffix: measuringUnit
            }"
        />
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.AT)"
            [color]="consts.import.AT"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.import-at"
            [data]="{
                value:
                    data.positiveEntries.length > 1
                        ? data.positiveEntries[countryIndex.AT]
                        : data.positiveEntries[0],
                suffix: measuringUnit
            }"
        />
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.DE)"
            [color]="consts.import.DE"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.import-de"
            [data]="{
                value:
                    data.positiveEntries.length > 1
                        ? data.positiveEntries[countryIndex.DE]
                        : data.positiveEntries[0],
                suffix: measuringUnit
            }"
        />

        <!-- divider -->
        <bfe-tooltip-divider />

        <!-- export values -->
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.DE)"
            [color]="consts.export.DE"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.export-de"
            [data]="{
                value:
                    (data.negativeEntries.length > 2
                        ? data.negativeEntries[countryIndex.DE]
                        : data.negativeEntries[0]
                    ) | absoluteNumber,
                suffix: measuringUnit
            }"
        />
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.AT)"
            [color]="consts.export.AT"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.export-at"
            [data]="{
                value:
                    (data.negativeEntries.length > 2
                        ? data.negativeEntries[countryIndex.AT]
                        : data.negativeEntries[0]
                    ) | absoluteNumber,
                suffix: measuringUnit
            }"
        />
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.IT)"
            [color]="consts.export.IT"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.export-it"
            [data]="{
                value:
                    (data.negativeEntries.length > 2
                        ? data.negativeEntries[countryIndex.IT]
                        : data.negativeEntries[0]
                    ) | absoluteNumber,
                suffix: measuringUnit
            }"
        />
        <bfe-tooltip-row
            *ngIf="displayedCountries?.includes(countryIndex.FR)"
            [color]="consts.export.FR"
            shape="dot"
            label="dashboard.strom.import-export.net-import-exports.chart.tooltip.export-fr"
            [data]="{
                value:
                    (data.negativeEntries.length > 2
                        ? data.negativeEntries[countryIndex.FR]
                        : data.negativeEntries[0]
                    ) | absoluteNumber,
                suffix: measuringUnit
            }"
        />
    </bfe-tooltip-container>
</div>
