<div class="import-export-net-container">
    <bfe-kpi-subtitle>
        {{ 'dynamic:kpi-strom-9_import-export_netto.titel' | i18nextDynamic }}
    </bfe-kpi-subtitle>
    <bfe-kpi-date-info-subtext [date]="currentEntry.date">
    </bfe-kpi-date-info-subtext>

    <div class="diagram-container">
        <section class="legend">
            <span class="label">
                {{
                    'dashboard.strom.import-export.import-export-netto.import'
                        | i18next
                }}
            </span>
            <bfe-diagram-legend [entries]="importLegendEntries">
            </bfe-diagram-legend>
            <span class="label">
                {{
                    'dashboard.strom.import-export.import-export-netto.export'
                        | i18next
                }}
            </span>
            <bfe-diagram-legend [entries]="exportLegendEntries">
            </bfe-diagram-legend>
        </section>
        <select
            bfe-select
            aria-label="[todo]regionSelect"
            name="regionFilter"
            [formControl]="countrySelectionControl"
        >
            <ng-container *ngFor="let option of countries">
                <option [value]="option.value">
                    {{ option.key | i18next }}
                </option>
            </ng-container>
        </select>
        <section class="diagram">
            <section class="y-axis-label">
                {{
                    'dashboard.strom.import-export.import-export-netto.gwh-pro-tag'
                        | i18next
                }}
            </section>
            <bfe-histogram-area-min-max
                [positiveEntries]="stromImports"
                [negativeEntries]="stromExports"
                [colors]="colors"
                [focusPointColors]="focusPointColors"
                [margins]="{ top: 10, bottom: 20, left: 42, right: 8 }"
                (elFocus)="showLineChartTooltip($event)"
                (diagramLeave)="hideTooltip()"
                (brushChanged)="onBrushChanged($event)"
                [xLabelModifier]="labelModifier"
                [xSubLabelModifier]="subLabelModifier"
                [brushSelectionStart]="twoWeeksBackFromToday"

            >
            </bfe-histogram-area-min-max>
        </section>
        <bfe-import-export-net-area-tooltip
            [event]="tooltipEvent"
            [displayedCountries]="countrySelectionControl.value"
        ></bfe-import-export-net-area-tooltip>

        <bfe-hideable-text-section
            [context]="'chart'"
            [textTranslationKey]="
                'dynamic:kpi-strom-9_import-export_netto.langtext'
            "
        ></bfe-hideable-text-section>
    </div>
</div>
