@use 'var';
@use 'dim';

.trend-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

    @media (min-width: #{dim.$bp-max-md}) {
        flex-direction: column;
        justify-content: flex-start;

        .trend-entries {
            margin-top: var(--d-page-side-gap);
            flex-direction: row;
            display: flex;

            section:first-of-type {
                margin-right: 32px;
            }
        }
    }

    @media (max-width: #{dim.$bp-max-md}) {
        flex-direction: column;
        justify-content: flex-start;
        .trend-entries {
            margin-top: var(--d-page-side-gap);
            flex-direction: column;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    bfe-context-title {
        margin-right: 4px;
    }
}

.teaser-section {
    margin-bottom: auto;
}

.chart-wrapper {
    min-width: 100%;
}

.divider-section {
    width: 100%;

    hr {
        height: 1px;
        background-color: #ebebeb;
        border: none;
        width: 100%;
    }
}
