<section *ngIf="!loading; else loadingTemplate">
    <div>
        <bfe-trend-and-number
            [model]="{
                color: model.color,
                bigNumber: {
                    value:
                        (model.sparzielEntry.kumulierteMonatlicheEinsparungGWh
                            | roundNumber) ?? 0,
                    postfix: 'GWh',
                    subTextKeys: [
                        'commons.sparziel.saved-label',
                        'commons.to'
                            | i18next
                                : {
                                      date:
                                          model.sparzielEntry.date
                                          | date: 'dd.MM'
                                  }
                    ]
                },
                trend: {
                    value: model.sparzielEntry.trend,
                    rating: model.sparzielEntry.trendRating,
                    subTextKeys: [model.trendLabelKey]
                }
            }"
        ></bfe-trend-and-number>
    </div>

    <div class="sparziel-chart">
        <bfe-sparziel-chart
            [achievedPercentage]="
                !model.sparzielEntry.schaetzung
                    ? (model.sparzielEntry.kumulierteEinsparungProzent
                          | roundNumber) ?? 0
                    : null
            "
            [achievedValue]="
                (model.sparzielEntry.kumulierteMonatlicheEinsparungGWh
                    | roundNumber) ?? 0
            "
            [achievedColor]="model.color"
            [projectedPercentage]="
                !!model.sparzielEntry.schaetzung
                    ? (model.sparzielEntry.kumulierteEinsparungProzent
                          | roundNumber) ?? 0
                    : null
            "
            [weatherAdjustedPercent]="
                model.sparzielEntry
                    .kumulierteEinsparungWitterungsbereinigtProzent
            "
            [weatherAdjustedGwh]="
                model.sparzielEntry
                    .kumulierteEinsparungWitterungsbereinigtGwh
            "
            [date]="model.sparzielEntry.date"
            [addSparziel]="model.addSparziel ?? false"
            [sparziel]="model.sparziel"
        >
        </bfe-sparziel-chart>
    </div>
</section>

<ng-template #loadingTemplate>
    <bfe-loading-spinner></bfe-loading-spinner>
</ng-template>
