@use 'dim';

.stromverbrauch-aktueller-endverbrauch-histogram-chart {
    @media (max-width: #{dim.$bp-min-md}) {
        .kpi-head {
            grid-template-columns: 1fr;
            row-gap: 24px;

            h3 {
                margin-bottom: 12px;
            }
        }

        .diagram-container {
            bfe-diagram-legend {
                margin-left: 0;
            }
        }
    }
}
