<div class="stromverbrauch-aktueller-endverbrauch-histogram-chart">
    <section>
        <bfe-kpi-subtitle>
            {{
                'dynamic:kpi-strom-1_landesverbrauch_endverbrauch_SG.titel'
                    | i18next
            }}
        </bfe-kpi-subtitle>
        <bfe-kpi-date-info-subtext [date]="currentDate">
        </bfe-kpi-date-info-subtext>

        <div *ngIf="(chartData.length ?? 0) > 0" class="diagram-container">
            <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>
            <bfe-histogram-line
                [domainMin]="minYValue"
                [colors]="lineChartColors"
                [data]="chartData"
                [xLabelModifier]="labelModifier"
                [yLabelFormatter]="yLabelFormatter"
                [strokeWidths]="[1, 2, 2]"
                [dashedLines]="['0', '0', '0 4']"
                [bandColor]="bandColor"
                (elFocus)="showLineChartTooltip($event)"
                (diagramLeave)="hideTooltip()"
            ></bfe-histogram-line>
            <bfe-stromverbrauch-chart-tooltip
                [event]="tooltipEvent"
                [lineEntries]="lineEntries"
                postfix="GWh"
                postfixDifference="%"
                [withSpaceBeforePostfix]="true"
                [withSpaceBeforePostfixDifference]="false"
            ></bfe-stromverbrauch-chart-tooltip>
        </div>

        <bfe-hideable-text-section
            [context]="'chart'"
            [textTranslationKey]="
                'dynamic:kpi-strom-1_landesverbrauch_endverbrauch_SG.langtext'
            "
        ></bfe-hideable-text-section>
    </section>
</div>
