<bfe-kpi-container
    titleKeyDynamic="kpi-preise-4_heizol.titel"
    [footerConfig]="{
        sourceDynamicKey: 'kpi-preise-4_heizol.datenquelle',
        langtextDynamicKey: 'kpi-preise-4_heizol.langtext'
    }"
    [isLoading]="isLoading"
>
    <section>
        <bfe-kpi-container-row>
            <section class="trend-section">
                <bfe-context-title
                    [context]="context"
                    marginLeft="0px"
                ></bfe-context-title>
                <section *ngIf="currentEntry" class="trend-entries">
                    <bfe-large-number-unit
                        [number]="currentEntry.values[0]"
                        unit="%"
                        [color]="primaryColor"
                    ></bfe-large-number-unit>
                    <p class="center-text">
                        {{
                            'dashboard.preise.oel.spotpreis-boerse.subtitle'
                                | i18next
                        }}
                    </p>
                </section>
            </section>

            <section class="teaser-section desktop-only">
                <div
                    [innerHTML]="
                        'dynamic:kpi-preise-4_heizol.kurztext' | i18nextDynamic
                    "
                    class="teaser"
                ></div>
            </section>
        </bfe-kpi-container-row>

        <div class="mobile-only">
            <bfe-kpi-container-row>
                <bfe-hideable-text-section
                    [context]="'trend'"
                    [textTranslationKey]="
                        'dynamic:kpi-preise-4_heizol.kurztext'
                    "
                ></bfe-hideable-text-section>
            </bfe-kpi-container-row>
        </div>
    </section>

    <div *ngIf="!!chartData" class="diagram-container">
        <section class="title-selection-container">
            <bfe-kpi-subtitle>
                {{
                    'dynamic:kpi-preise-4_heizol_entwicklung.titel'
                        | i18nextDynamic
                }}
            </bfe-kpi-subtitle>
            <bfe-kpi-date-info-subtext
                [date]="currentEntry.date"
                updateInterval="monthly"
            >
            </bfe-kpi-date-info-subtext>
        </section>
        <bfe-diagram-legend [entries]="legendEntries"></bfe-diagram-legend>
        <bfe-histogram-line
            (diagramLeave)="hideTooltip()"
            (elFocus)="showLineChartTooltip($event)"
            [colors]="[primaryColor]"
            [data]="chartData"
            [strokeWidths]="[2]"
            [xLabelModifier]="labelModifier"
            [xSubLabelModifier]="subLabelModifier"
            [yLabelFormatter]="yLabelFormatter"
        ></bfe-histogram-line>
        <bfe-preise-tooltip
            [isMonthly]="true"
            [event]="tooltipEvent"
            [lineEntries]="legendEntries"
            postfix="%"
        ></bfe-preise-tooltip>

        <bfe-hideable-text-section
            [context]="'chart'"
            [textTranslationKey]="
                'dynamic:kpi-preise-4_heizol_entwicklung.langtext'
            "
        ></bfe-hideable-text-section>
    </div>
</bfe-kpi-container>
