<div #tooltip [class.hidden]="!event" class="tooltip-container">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header header [title]="data.date | date: 'MMMM yyyy'" />
        <bfe-tooltip-icon-row
            *ngIf="data.barValues[0] !== null"
            icon="house"
            [color]="barColors[0]"
            label="commons.sparziel.sectors.private"
            [data]="{
                value: data.barValues[0] | number,
                suffix: '%'
            }"
        />

        <bfe-tooltip-icon-row
            *ngIf="data.barValues[1] !== null"
            icon="buildings"
            [color]="barColors[1]"
            label="commons.sparziel.sectors.kmu"
            [data]="{
                value: data.barValues[1] | number,
                suffix: '%'
            }"
        />

        <bfe-tooltip-icon-row
            *ngIf="data.barValues[2] !== null"
            icon="industry-windows"
            [color]="barColors[2]"
            label="commons.sparziel.sectors.industry"
            [data]="{
                value: data.barValues[2] | number,
                suffix: '%'
            }"
        />

        <bfe-tooltip-divider />

        <bfe-tooltip-row
            *ngIf="data.barLineValue !== null"
            shape="dashed-line"
            [color]="barLineColor"
            label="commons.sparziel.netto-value"
            [data]="{
                value: data.barLineValue | number,
                suffix: '%'
            }"
        />
    </bfe-tooltip-container>
</div>
