<div #tooltip class="tooltip-container" [class.hidden]="!event">
    <bfe-tooltip-container *ngIf="!!data">
        <bfe-tooltip-header
            header
            [title]="
                isMonthly ? (data.date | date: 'MMMM yyyy') : (data.date | date)
            "
        />
        <!-- current percentage -->
        <ng-container *ngFor="let entry of lineEntries; index as i">
            <bfe-tooltip-row
                *ngIf="data.values[i + 1] as value"
                [color]="entry.color"
                [shape]="'dot'"
                [label]="entry.labelKey | i18next"
                [data]="{
                    value,
                    suffix
                }"
                [colNumber]="showDifference() ? 2 : 1"
            />
        </ng-container>

        <!-- divider -->
        <ng-container *ngIf="hasAnyValue()">
            <bfe-tooltip-divider *ngIf="!showDifference()" />
            <bfe-tooltip-diff-divider *ngIf="showDifference()" />
        </ng-container>

        <!-- 5 year max -->
        <bfe-tooltip-row
            [color]="colorMinMax"
            [shape]="'dot'"
            label="dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-max-percentage"
            [data]="{
                value: data.band?.upper,
                suffix
            }"
            [dataCol2]="{
                value: showDifference()
                    ? data.tooltipInformation?.differenzMax ?? 0
                    : null,
                suffix: showDifference() ? diffSuffix : ''
            }"
            [colNumber]="showDifference() ? 2 : 1"
        />

        <!-- 5 year average -->
        <bfe-tooltip-row
            [color]="colorSecondary"
            [shape]="'dot'"
            [label]="
                hasAnyValue()
                    ? 'commons.legend.five-year-average'
                    : 'dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-mittelwert-percentage'
            "
            [data]="{
                value: data.values[0],
                suffix
            }"
            [dataCol2]="{
                value: showDifference()
                    ? data.tooltipInformation?.differenzMittelwert ?? 0
                    : null,
                suffix: showDifference() ? diffSuffix : ''
            }"
            [colNumber]="showDifference() ? 2 : 1"
        />

        <!-- 5 year min -->
        <bfe-tooltip-row
            [color]="colorMinMax"
            [shape]="'dot'"
            [label]="
                'dashboard.strom.fuellstaende-speicherseen.tooltip.differenz-min-percentage'
            "
            [data]="{
                value: data.band?.lower,
                suffix
            }"
            [dataCol2]="{
                value: showDifference()
                    ? data.tooltipInformation?.differenzMin ?? 0
                    : null,
                suffix: showDifference() ? diffSuffix : ''
            }"
            [colNumber]="showDifference() ? 2 : 1"
        />

    </bfe-tooltip-container>
</div>
